.autoplay-error-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000; }
  .autoplay-error-modal.hidden {
    display: none; }
  .autoplay-error-modal .modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6; }
  .autoplay-error-modal .modal-content {
    position: relative;
    width: 50%;
    height: 30%;
    background-color: black;
    margin: auto;
    margin-top: 175px;
    box-sizing: border-box;
    color: white;
    padding: 30px;
    font-size: 20pt; }
    .autoplay-error-modal .modal-content p {
      margin-bottom: 40px; }
    @media (max-width: 800px) {
      .autoplay-error-modal .modal-content {
        width: 80%;
        font-size: 16pt; } }
