.fullView {
  padding: 15px;
  padding-right: 0; }
  .fullView .discover-full-song .slide {
    opacity: 0; }
  .fullView .discover-full-song .slide.selected {
    opacity: 1 !important; }

.fullGridLayout .fullView {
  display: none; }

.disableScroll .songGrid, .disableScroll .discover-full-song {
  overflow: hidden !important; }

.disableScroll .discover-full-song .carousel-wrapper .carousel .slide {
  overflow: hidden !important; }

@media (max-width: 800px) {
  .fullView {
    display: none !important; } }

.fullView .song-grid-container {
  width: 40%;
  max-width: 674px;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 1100px) and (min-width: 800px) {
    .fullView .song-grid-container {
      width: 30%; } }

.fullView .songGrid {
  width: 100%;
  margin-right: 2px;
  height: calc(100vh - 195px);
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: 0px;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  /* Chrome + Safari */ }
  .fullView .songGrid::-webkit-scrollbar {
    width: 0px; }
  .fullView .songGrid .songContainer {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border: solid #fff;
    border-width: 1px 1px 2px;
    max-width: 170px;
    margin: -3px 0; }
    @media (max-width: 1100px) and (min-width: 800px) {
      .fullView .songGrid .songContainer {
        width: 50%; } }
    .fullView .songGrid .songContainer .imageContainer {
      width: 100%;
      position: relative;
      box-sizing: border-box; }
      .fullView .songGrid .songContainer .imageContainer .imageHover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        opacity: 1;
        background-size: cover;
        height: calc(100% - 3px);
        border: 0 solid #fff; }
        .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper {
          background: rgba(0, 0, 0, 0); }
          .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper .hoverContent {
            display: none;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
            width: 100%; }
            .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper .hoverContent .postTags {
              width: 100%;
              display: block;
              margin-bottom: 10px; }
              .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper .hoverContent .postTags .grid-tag {
                display: block;
                font-size: 12px;
                line-height: 15px;
                color: #fff;
                font-weight: 600;
                font-family: 'Object-Sans-Regular',sans-serif; }
              .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper .hoverContent .postTags .grid-tag:nth-of-type(3) {
                display: none; }
          .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper .readMore {
            text-align: center;
            color: #fff;
            font-size: 10px;
            padding: 8px;
            background: #1a6ea9;
            border-radius: 4px;
            font-family: 'Object-Sans-Regular',sans-serif; }
            @media (min-width: 1100px) and (max-width: 1250px) {
              .fullView .songGrid .songContainer .imageContainer .imageHover .contentWrapper .readMore {
                font-size: 8px; } }
        .fullView .songGrid .songContainer .imageContainer .imageHover img {
          display: none;
          width: 100%;
          position: absolute;
          max-width: 50px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .fullView .songGrid .songContainer .imageContainer img.carousel-song-image {
        width: 100%; }
  .fullView .songGrid .songContainer:hover {
    cursor: pointer; }
    .fullView .songGrid .songContainer:hover .contentWrapper {
      background: rgba(0, 0, 0, 0.5) !important; }
      .fullView .songGrid .songContainer:hover .contentWrapper .hoverContent {
        display: inline-block !important; }
      .fullView .songGrid .songContainer:hover .contentWrapper .gridSongInfo {
        background: rgba(0, 0, 0, 0.7); }
        .fullView .songGrid .songContainer:hover .contentWrapper .gridSongInfo span {
          color: #fff; }
  .fullView .songGrid .songContainer.activeDiscoverFullSong:hover .contentWrapper .hoverContent {
    display: none !important; }
  .fullView .songGrid .songContainer.activeDiscoverFullSong .contentWrapper {
    background: rgba(0, 0, 0, 0.5) !important; }
    .fullView .songGrid .songContainer.activeDiscoverFullSong .contentWrapper .hoverContent {
      display: none !important; }
    .fullView .songGrid .songContainer.activeDiscoverFullSong .contentWrapper .gridSongInfo {
      background: rgba(0, 0, 0, 0.7); }
      .fullView .songGrid .songContainer.activeDiscoverFullSong .contentWrapper .gridSongInfo span {
        color: #fff; }

.fullView .discover-full-song-container {
  display: inline-block;
  width: 60%; }
  @media (max-width: 1100px) and (min-width: 800px) {
    .fullView .discover-full-song-container {
      width: 70%; } }

.fullView .discover-full-song {
  height: calc(100vh - 200px);
  display: inline-block;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  /* Chrome + Safari */ }
  .fullView .discover-full-song::-webkit-scrollbar {
    width: 0px; }
  .fullView .discover-full-song button.toggle-song {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 674px;
    width: 30px;
    background-size: contain;
    opacity: .5;
    z-index: 4; }
    .fullView .discover-full-song button.toggle-song img {
      top: 50%;
      height: 30px; }
  .fullView .discover-full-song button.toggle-song.previous {
    transform: rotate(180deg); }
  .fullView .discover-full-song button.toggle-song.next {
    right: 0; }
  .fullView .discover-full-song .songContainer {
    position: relative;
    height: auto;
    width: calc(100% - 70px);
    margin: 0 auto;
    display: block;
    padding-bottom: 25px;
    max-width: 800px; }
    .fullView .discover-full-song .songContainer .wrapper {
      pointer-events: none;
      cursor: default; }
      .fullView .discover-full-song .songContainer .wrapper .postContent .imageContainer {
        width: calc(40vw * .5);
        float: left;
        margin: 0 15px 0px 0; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .imageContainer img {
          width: 100%; }
      .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer {
        text-align: left;
        margin-bottom: 0px; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .white-single-song-controls {
          display: inline-block;
          pointer-events: all;
          cursor: pointer;
          padding: 5px;
          padding-left: 0;
          height: 60px; }
          .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .white-single-song-controls svg, .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .white-single-song-controls img {
            transition: all .3s ease;
            width: 50px;
            height: 50px;
            vertical-align: baseline; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.desktop {
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
          max-width: 55%;
          width: 49%;
          position: relative;
          overflow-y: hidden;
          padding: 5px 0 4px;
          vertical-align: top; }
          .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.desktop .songtitle {
            pointer-events: all;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'Object-Sans-Bold',sans-serif;
            transform: translateY(3px);
            -webkit-transform: translateY(3px); }
            .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.desktop .songtitle a.postTitleLink {
              font-size: 23px;
              line-height: 24px;
              text-decoration: none;
              color: #000;
              font-weight: 700; }
            .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.desktop .songtitle .spotify {
              color: #65d36e;
              font-size: 26px;
              z-index: 1;
              display: inline-block;
              margin-left: 3px;
              width: 30px;
              padding: 0 3px;
              transform: translateY(-2px);
              -webkit-transform: translateY(-2px); }
          .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.desktop .artist {
            transform: translateY(2px);
            -webkit-transform: translateY(2px); }
            .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.desktop .artist span.artistName {
              font-size: 23px;
              line-height: 24px;
              font-family: 'Object-Sans-Normal',sans-serif; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .songInfo.mobile {
          display: none; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo p.leftInfo {
          display: inline-block;
          margin: 0 4px 5px 0; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo .leftInfo.mobile {
          display: none; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo .leftInfo.desktop span.separater {
          transform: translateY(-1px);
          -webkit-transform: translateY(-1px);
          display: inline-block; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo .leftInfo.desktop .curatorName {
          font-family: 'Object-Sans-Bold',sans-serif; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo .postTags {
          display: inline-block;
          margin: 0;
          pointer-events: none;
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px); }
          .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo .postTags .tag {
            margin: 0 2px;
            font-size: 11px;
            border-radius: 4px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            color: #fff;
            background: #1a6ea9;
            border: 1px solid #1a6ea9;
            cursor: pointer;
            letter-spacing: .7px;
            box-shadow: 0 3px 2px -2px #C9C6CB;
            padding: 4px;
            padding-top: 6px;
            font-family: 'Object-Sans-Regular',sans-serif; }
          .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .postInfoContainer .metaInfo .postTags .tag:nth-of-type(2) {
            display: none !important; }
      .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .bottomContentContainer {
        max-height: none;
        padding-bottom: 0px;
        pointer-events: all; }
        .fullView .discover-full-song .songContainer .wrapper .postContent .topContentContainer .bottomContentContainer .songDescription {
          font-size: 14px;
          line-height: 28px;
          font-weight: 100;
          display: block;
          text-align: left;
          margin-top: 0;
          padding: 0 5px;
          font-family: 'Object-Sans-Light',sans-serif; }
    .fullView .discover-full-song .songContainer .goToSongPage, .fullView .discover-full-song .songContainer hr, .fullView .discover-full-song .songContainer .seeMore {
      display: none; }
