.socialLinks.notFixed + .singleSongPage {
    position: relative;
}

.singleSongPage {

  @media (min-width: 800px) {
    padding: 25px 35px 0;
    padding-bottom: 50px;
    // max-height: calc(100vh - 180px);
    overflow: hidden;
  }

  .singleSongContainer {
    width: 86%;
    display: inline-block;

    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 800px) {
      width: 100%;
      display: inline-block;
      z-index: 80;
      position: relative;
      margin-top: 0px;
    }
    // @media (max-width: 480px) {
    //   margin-top: 50px;
    // }

    .songContainer {
        .wrapper {
          .imageContainer {
            width: 45%;
            display: inline-block;
            max-height: 674px;
            max-width: 674px;
            position: relative;

            @media (max-width: 800px) {
              width: 100%;
              display: inline-block;
              max-height: 674px;
              max-width: 674px;
              margin: 0 auto;
              display: block;
            }

            img {
              width: 100%;
              height: 100%;
              max-height: 674px;
              max-width: 674px;
            }

            .songImageInfoContainer {
                display: none;

                @media (max-width: 800px) {
                  display: inline-block;
                  position: absolute;
                  z-index: 2;
                  left: 0;
                  bottom: 0px;
                  background: hsla(0,0%,100%,.8);
                  width: 100%;
                  padding: 0;
                  height: 60px;
                }

                @media (max-width: 670px) {
                  bottom: 4px;
                }

                .player-button {
                  display: inline-block;
                  height: 100%;
                  width: 60px;
                  text-align: center;
                  vertical-align: top;
                  transition: all .15s linear;

                  .singlePostPlayerButton {
                    width: 50px;
                    height: 50px;
                    margin-top: 5px;
                    transition: all .3s ease;
                    width: 50px;
                    height: 50px;
                  }
                }
                .song-info {
                  display: inline-block;
                  width: calc(100% - 130px);
                  // padding: 5px 0;
                  padding-top: 6px;
                  padding-bottom: 4px;

                  @media (max-width: 480px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                  }

                  .song-title {
                    font-weight: 700;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 20px;
                    line-height: 25px;
                    font-family: 'Object-Sans-Bold',sans-serif;
                    transform: translateY(4px);
                  }
                  .song-artist {
                      font-size: 18px;
                      line-height: 25px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      font-family: 'Object-Sans-Regular',sans-serif;
                      transform: translateY(2px);
                  }
                }
                a.spotify-mobile {
                    display: inline-block;
                    position: relative;
                    color: #1ed760;
                    font-size: 35px;
                    z-index: 1;
                    vertical-align: top;
                    height: 60px;
                    padding: 0;
                    width: 60px;
                    margin-left: 10px;

                    i {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%,-50%);
                    }
                }
            }
          }
          .postContent {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding: 25px;
            padding-top: 0px;

            @media (max-width: 1250px) and (min-width: 1200px) {
              width: 49%;
            }
            @media (max-width: 1200px) and (min-width: 800px) {
              width: 50%;
              padding-right: 0px;
              padding-left: 50px;
            }
            @media (max-width: 1075px) and (min-width: 800px) {
              padding-left: 30px;
            }
            @media (max-width: 1000px) and (min-width: 835px) {
              width: 49%;
            }
            @media (max-width: 835px) and (min-width: 800px) {
              width: 48%;
            }
            @media (max-width: 800px) {
              width: 100%!important;
              display: inline-block;
              vertical-align: top;
              position: relative;
              background: #fff;
              padding: 0 15px 15px;
              max-width: 92vw;
              display: block;
            }

            @media (min-width: 480px) and (max-width: 800px) {
              max-width: 674px !important;
              margin: 0 auto;
            }

            .songInfo {
                position: relative;

                @media (min-width: 800px) {
                  padding-bottom: 5px;
                }

                .topSection {
                  height: 60px;

                  @media (max-width: 800px) {
                    display: none;
                  }

                  .player-button {
                    display: inline-block;
                    width: 60px;
                    height: 60px;

                    @media (max-width: 800px) {
                      width: 50px;
                      height: 50px;
                      display: inline-block;
                      vertical-align: top;
                      margin-right: 5px;
                    }

                    button.singlePostPlayerButton {

                      @media (max-width: 800px) {
                        width: 50px;
                        height: 50px;
                        text-align: center;
                      }

                      svg, img {
                          width: 60px !important;
                          height: 60px !important;
                      }
                    }
                  }

                  .singleSongInfo {
                    display: inline-block;
                    max-width: 80%;
                    // width: 80%;
                    // padding: 3px 0;
                    padding: 3px 0 2px;
                    white-space: nowrap;
                    // overflow-x: hidden;
                    padding-left: 7px;
                    vertical-align: top;
                    position: relative;

                    @media(min-width: 800px) {
                      transform: translateY(3px);
                    }

                    .songNameContainer {
                      display: block;
                      max-width: 100%;
                      width: auto;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      overflow: hidden;
                      overflow-x: hidden;

                      .songName {
                        font-size: 25px;
                        display: inline-block;
                        margin-bottom: 0px;
                        pointer-events: all;
                        font-weight: 700 !important;
                        vertical-align: top;
                        line-height: 28px;
                        font-family: 'Object-Sans-Bold',sans-serif;
                      }

                    }

                    .artistNameContainer {
                        display: inline-block;
                        padding-top: 0px;

                        .artistName {
                            font-size: 25px;
                            line-height: 27px;
                            display: inline-block;
                            color: #000;
                            font-family: 'Object-Sans-Regular',sans-serif;

                        }
                    }

                    a.spotify {
                      display: inline-block;
                      position: absolute;
                      top: 4px;
                      right: -35px;
                      color: #65d36e;
                      font-size: 28px;
                      z-index: 1;
                      padding-left: 6px;
                      height: 25px;
                      width: 25px;

                      i {
                        position: absolute;
                        top: -2px;
                      }
                    }

                  }

                }
                .metaInfo {

                  margin-top: 10px;

                  @media (max-width: 800px) {
                    pointer-events: all;
                  }
                  @media (max-width: 800px) {
                    margin-top: 10px;
                  }

                  p.leftInfo {
                      display: inline-block;
                      margin: 0;
                      // margin-bottom: 5px;
                      margin-right: 0px;

                      .curatorName {
                        font-weight: bold;
                        font-family: 'Object-Sans-Bold',sans-serif;

                      }
                  }

                  p.leftInfo.desktop {
                      @media (max-width: 800px) {
                        display: none;
                      }
                  }

                  .leftInfo.mobile {
                      display: none;

                      @media (max-width: 800px) {
                        display: inline-block;
                      }
                  }

                  .postTags {
                    display: inline-block;
                    transform: translateY(-1px);

                    @media (min-width: 800px) {
                      display: inline-block;
                      margin: 0;
                      pointer-events: none;
                      transform: translateY(-3px);
                    }

                    .tag {
                      color: #fff;
                      background: #1a6ea9;
                      border: 1px solid #1a6ea9;
                      font-family: 'Object-Sans-Regular',sans-serif;
                      transition: all .2s ease;
                      cursor: pointer;
                      letter-spacing: .7px;
                      box-shadow: 0 3px 2px -2px #C9C6CB;
                      padding: 4px;
                      padding-top: 6px;
                      margin: 0 2px;
                      font-size: 12px;
                      border-radius: 4px;
                      line-height: 20px;
                    }
                    .tag:nth-of-type(3), .tag:nth-of-type(4) {
                        display: none;
                    }

                    @media (max-width: 800px) {
                      .tag:nth-of-type(2) {
                          display: none;
                      }
                    }
                  }

                  .ShareBox {
                    position: relative;
                    padding: 0 5px;
                    display: inline-block;
                    transition: all .3s ease;
                    pointer-events: all;
                    margin: 0 auto;
                    text-align: left;
                    z-index: 8;
                    height: 20px;

                    i {
                        font-size: 22px;
                        color: #f85f27;
                        position: absolute;
                        top: 0;

                        @media (max-width: 800px) {
                          top: -1px;
                        }
                    }

                    i.fas.fa-clipboard {
                      font-size: 18px !important;
                      color: #fff !important;
                      padding: 5px;
                      // padding-top: 15px;
                      padding-top: 7px;
                      padding-left: 7px;
                }

                  }:hover {
                    cursor: pointer;
                  }
                }
            }

            .bottomContentContainer {

                @media (min-width: 800px) {
                  // max-height: calc(100vh - 330px);
                  overflow: auto;
                  padding-bottom: 0 !important;
                  pointer-events: all;
                }

                .songDescription {
                    font-size: 17px;
                    line-height: 28px;
                    font-family: 'Object-Sans-Thin',sans-serif;
                    font-weight: 100;

                    @media (min-width: 800px) {
                      padding-bottom: 50px;
                    }
                    @media (max-width: 800px) {
                      font-size: 15px;
                      line-height: 26px;
                      margin-top: 5px;
                    }
                    @media (min-width: 674px) and (max-width: 800px) {
                      max-width: 674px;
                    }

                    br {
                        height: 18px!important;
                        display: block;
                        content: "";
                    }
                }
            }

          }
        }
    }
  }

}
