.socialLinks.notFixed + .singleSongPage {
  position: relative; }

@media (min-width: 800px) {
  .singleSongPage {
    padding: 25px 35px 0;
    padding-bottom: 50px;
    overflow: hidden; } }

.singleSongPage .singleSongContainer {
  width: 86%;
  display: inline-block; }
  @media (max-width: 1200px) {
    .singleSongPage .singleSongContainer {
      width: 100%; } }
  @media (max-width: 800px) {
    .singleSongPage .singleSongContainer {
      width: 100%;
      display: inline-block;
      z-index: 80;
      position: relative;
      margin-top: 0px; } }
  .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer {
    width: 45%;
    display: inline-block;
    max-height: 674px;
    max-width: 674px;
    position: relative; }
    @media (max-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer {
        width: 100%;
        display: inline-block;
        max-height: 674px;
        max-width: 674px;
        margin: 0 auto;
        display: block; } }
    .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer img {
      width: 100%;
      height: 100%;
      max-height: 674px;
      max-width: 674px; }
    .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer {
      display: none; }
      @media (max-width: 800px) {
        .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer {
          display: inline-block;
          position: absolute;
          z-index: 2;
          left: 0;
          bottom: 0px;
          background: rgba(255, 255, 255, 0.8);
          width: 100%;
          padding: 0;
          height: 60px; } }
      @media (max-width: 670px) {
        .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer {
          bottom: 4px; } }
      .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer .player-button {
        display: inline-block;
        height: 100%;
        width: 60px;
        text-align: center;
        vertical-align: top;
        transition: all .15s linear; }
        .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer .player-button .singlePostPlayerButton {
          width: 50px;
          height: 50px;
          margin-top: 5px;
          transition: all .3s ease;
          width: 50px;
          height: 50px; }
      .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer .song-info {
        display: inline-block;
        width: calc(100% - 130px);
        padding-top: 6px;
        padding-bottom: 4px; }
        @media (max-width: 480px) {
          .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer .song-info {
            padding-top: 5px;
            padding-bottom: 5px; } }
        .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer .song-info .song-title {
          font-weight: 700;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 20px;
          line-height: 25px; }
        .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer .song-info .song-artist {
          font-size: 18px;
          line-height: 25px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
      .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer a.spotify-mobile {
        display: inline-block;
        position: relative;
        color: #1ed760;
        font-size: 35px;
        z-index: 1;
        vertical-align: top;
        height: 60px;
        padding: 0;
        width: 60px;
        margin-left: 10px; }
        .singleSongPage .singleSongContainer .songContainer .wrapper .imageContainer .songImageInfoContainer a.spotify-mobile i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
  .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    padding-top: 0px; }
    @media (max-width: 1250px) and (min-width: 1200px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        width: 49%; } }
    @media (max-width: 1200px) and (min-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        width: 50%;
        padding-right: 0px;
        padding-left: 50px; } }
    @media (max-width: 1075px) and (min-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        padding-left: 30px; } }
    @media (max-width: 1000px) and (min-width: 835px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        width: 49%; } }
    @media (max-width: 835px) and (min-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        width: 48%; } }
    @media (max-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        width: 100% !important;
        display: inline-block;
        vertical-align: top;
        position: relative;
        background: #fff;
        padding: 0 15px 15px;
        max-width: 92vw;
        display: block; } }
    @media (min-width: 480px) and (max-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent {
        max-width: 674px !important;
        margin: 0 auto; } }
    .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo {
      position: relative; }
      @media (min-width: 800px) {
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo {
          padding-bottom: 5px; } }
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection {
        height: 60px; }
        @media (max-width: 800px) {
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection {
            display: none; } }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .player-button {
          display: inline-block;
          width: 60px;
          height: 60px; }
          @media (max-width: 800px) {
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .player-button {
              width: 50px;
              height: 50px;
              display: inline-block;
              vertical-align: top;
              margin-right: 5px; } }
          @media (max-width: 800px) {
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .player-button button.singlePostPlayerButton {
              width: 50px;
              height: 50px;
              text-align: center; } }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .player-button button.singlePostPlayerButton svg, .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .player-button button.singlePostPlayerButton img {
            width: 60px !important;
            height: 60px !important; }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo {
          display: inline-block;
          max-width: 80%;
          padding: 3px 0 2px;
          white-space: nowrap;
          padding-left: 7px;
          vertical-align: top;
          position: relative; }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo .songNameContainer {
            display: block;
            max-width: 100%;
            width: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            overflow-x: hidden; }
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo .songNameContainer .songName {
              font-size: 25px;
              display: inline-block;
              margin-bottom: 0px;
              pointer-events: all;
              font-weight: 700 !important;
              vertical-align: top;
              line-height: 28px; }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo .artistNameContainer {
            display: inline-block;
            padding-top: 0px; }
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo .artistNameContainer .artistName {
              font-size: 25px;
              line-height: 27px;
              display: inline-block;
              color: #000; }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo a.spotify {
            display: inline-block;
            position: absolute;
            top: 4px;
            right: -35px;
            color: #65d36e;
            font-size: 28px;
            z-index: 1;
            padding-left: 6px;
            height: 25px;
            width: 25px; }
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .topSection .singleSongInfo a.spotify i {
              position: absolute;
              top: -2px; }
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo {
        margin-top: 10px; }
        @media (max-width: 800px) {
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo {
            pointer-events: all; } }
        @media (min-width: 674px) and (max-width: 800px) {
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo {
            margin-top: 10px; } }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo p.leftInfo {
          display: inline-block;
          margin: 0;
          margin-bottom: 5px;
          margin-right: 0px; }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo p.leftInfo .curatorName {
            font-weight: bold; }
        @media (max-width: 800px) {
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo p.leftInfo.desktop {
            display: none; } }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .leftInfo.mobile {
          display: none; }
          @media (max-width: 800px) {
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .leftInfo.mobile {
              display: inline-block; } }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .postTags {
          display: inline-block;
          transform: translateY(-2px); }
          @media (min-width: 800px) {
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .postTags {
              display: inline-block;
              margin: 0;
              pointer-events: none;
              transform: translateY(-3px); } }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .postTags .tag {
            color: #fff;
            background: #1a6ea9;
            border: 1px solid #1a6ea9;
            font-family: 'Baloo', cursive;
            transition: all .2s ease;
            cursor: pointer;
            letter-spacing: .7px;
            box-shadow: 0 3px 2px -2px #C9C6CB;
            padding: 0px 4px;
            margin: 0 2px;
            font-size: 12px;
            border-radius: 4px;
            line-height: 20px; }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .postTags .tag:nth-of-type(3), .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .postTags .tag:nth-of-type(4) {
            display: none; }
          @media (max-width: 800px) {
            .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .postTags .tag:nth-of-type(2) {
              display: none; } }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .ShareBox {
          position: relative;
          padding: 0 5px;
          display: inline-block;
          transition: all .3s ease;
          pointer-events: all;
          margin: 0 auto;
          text-align: left;
          z-index: 8;
          height: 20px; }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .ShareBox i {
            font-size: 22px;
            color: #f85f27;
            position: absolute;
            top: 0; }
            @media (max-width: 800px) {
              .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .ShareBox i {
                top: 2px; } }
          .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo .ShareBox i.fas.fa-clipboard {
            font-size: 18px !important;
            color: #fff !important;
            padding: 5px;
            padding-top: 7px;
            padding-left: 7px; }
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .songInfo .metaInfo :hover {
          cursor: pointer; }
    @media (min-width: 800px) {
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .bottomContentContainer {
        overflow: auto;
        padding-bottom: 0 !important;
        pointer-events: all; } }
    .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .bottomContentContainer .songDescription {
      font-size: 17px;
      line-height: 28px;
      font-family: 'Open-Sans', sans-serif;
      font-weight: 100; }
      @media (min-width: 800px) {
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .bottomContentContainer .songDescription {
          padding-bottom: 50px; } }
      @media (max-width: 800px) {
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .bottomContentContainer .songDescription {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          line-height: 26px;
          margin-top: 0;
          padding-top: 5px; } }
      @media (min-width: 674px) and (max-width: 800px) {
        .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .bottomContentContainer .songDescription {
          max-width: 674px; } }
      .singleSongPage .singleSongContainer .songContainer .wrapper .postContent .bottomContentContainer .songDescription br {
        height: 18px !important;
        display: block;
        content: ""; }
