.control-bar {
  width: 100%;
  max-width: 1685px;
  margin: 0 auto;
  user-select: none;
  height: 55px;
  background: #f5f3f3;
  border-bottom: 2px solid #e3e3e3e3;
  border-top: 2px solid #e3e3e3e3;
  max-width: 1685px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (min-width: 800px) {
    .control-bar {
      padding: 0 15px;
      padding-top: 2.5px; } }
  @media (max-width: 480px) {
    .control-bar {
      height: 50px;
      background: #f5f3f3; } }
  .control-bar .filter-controls {
    display: inline-block; }
    @media (min-width: 1100px) {
      .control-bar .filter-controls {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 5px; } }
  .control-bar .control-bar-separator {
    display: none; }
    @media (min-width: 800px) {
      .control-bar .control-bar-separator {
        display: inline-block;
        margin-right: 10px;
        font-size: 28px;
        vertical-align: middle;
        color: #282828;
        opacity: .9; } }
  .control-bar .control-bar-item {
    position: relative;
    margin-right: 10px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    text-align: center; }
    @media (max-width: 800px) {
      .control-bar .control-bar-item {
        width: 25vw;
        display: inline-block;
        margin: 0;
        height: 100%; } }
    .control-bar .control-bar-item.active {
      background: #000;
      color: #fff; }
      @media (min-width: 800px) {
        .control-bar .control-bar-item.active {
          border-radius: 8px; } }
      .control-bar .control-bar-item.active svg {
        fill: #fff; }
    .control-bar .control-bar-item.active.shuffle {
      color: #1a6ea9;
      background: #f5f3f3; }
      @media (min-width: 800px) {
        .control-bar .control-bar-item.active.shuffle .control-bar-item-content {
          background: #282828; } }
      .control-bar .control-bar-item.active.shuffle svg {
        fill: #1a6ea9; }
        @media (min-width: 800px) {
          .control-bar .control-bar-item.active.shuffle svg {
            fill: #fff; } }
    .control-bar .control-bar-item.active.view {
      background: #f5f3f3;
      color: #282828; }
      .control-bar .control-bar-item.active.view svg {
        fill: #282828; }
    @media (max-width: 800px) {
      .control-bar .control-bar-item .control-bar-item-content {
        width: 100%;
        padding-top: 5px; } }
    @media (min-width: 800px) {
      .control-bar .control-bar-item .control-bar-item-content {
        border: 1px solid #282828;
        border-radius: 8px;
        padding: 6px; } }
    .control-bar .control-bar-item .control-bar-item-content svg {
      height: 20px;
      vertical-align: middle; }
    .control-bar .control-bar-item .control-bar-item-content i.fas.fa-bolt {
      font-size: 18px; }
    @media (min-width: 800px) {
      .control-bar .control-bar-item .control-bar-item-content:hover {
        background: #282828;
        color: #fff;
        cursor: pointer; } }
    @media (min-width: 800px) {
      .control-bar .control-bar-item .control-bar-item-content:hover svg {
        fill: #fff; } }
    .control-bar .control-bar-item .control-bar-icon {
      display: inline-block; }
      @media (min-width: 800px) {
        .control-bar .control-bar-item .control-bar-icon {
          height: 20px; } }
      @media (max-width: 800px) {
        .control-bar .control-bar-item .control-bar-icon {
          display: block;
          text-align: center; } }
    .control-bar .control-bar-item .control-bar-title {
      font-size: 12px;
      font-weight: bold; }
      @media (max-width: 800px) {
        .control-bar .control-bar-item .control-bar-title.desktop {
          display: none; } }
      @media (min-width: 800px) {
        .control-bar .control-bar-item .control-bar-title.mobile {
          display: none; } }
      @media (min-width: 800px) {
        .control-bar .control-bar-item .control-bar-title {
          margin-left: 5px;
          font-size: 13px;
          vertical-align: middle;
          display: inline-block;
          font-weight: normal; } }
      @media (max-width: 800px) {
        .control-bar .control-bar-item .control-bar-title {
          font-size: 12px;
          padding-top: 4px;
          display: block;
          font-family: 'Object-Sans-Bold',sans-serif; } }
    @media (min-width: 800px) {
      .control-bar .control-bar-item .control-bar-title.shuffle {
        display: none; } }
  .control-bar .control-bar-item.moments {
    margin-right: 0 !important; }
  @media (min-width: 800px) {
    .control-bar .control-bar-item.shuffle {
      width: auto; } }
  @media (min-width: 800px) {
    .control-bar .control-bar-item.shuffle .control-bar-item-content {
      border: 2px solid #282828;
      border-radius: 50%;
      padding: 6px !important;
      margin-top: 5px;
      background: #f5f3f3; } }
  @media (min-width: 800px) {
    .control-bar .control-bar-item.shuffle .control-bar-item-content .control-bar-icon {
      height: 22px; } }
  .control-bar .control-bar-item.shuffle .control-bar-item-content .control-bar-icon svg {
    height: 22px;
    vertical-align: middle;
    width: 22px;
    transform: translateY(1px); }
  @media (min-width: 800px) {
    .control-bar .control-bar-item.shuffle .control-bar-item-content:hover {
      background: #282828;
      cursor: pointer; } }
  @media (min-width: 800px) {
    .control-bar .control-bar-item.shuffle .control-bar-item-content:hover svg {
      fill: #fff; } }

.fixed-control-bar {
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  border-top: 0px solid #fff; }
  @media (max-width: 800px) {
    .fixed-control-bar {
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      border-left: 0px;
      position: fixed;
      top: 75px;
      z-index: 903; } }
  @media (max-width: 480px) {
    .fixed-control-bar {
      top: 50px;
      height: 50px; } }

.controls {
  position: absolute;
  max-width: 1685px;
  margin: 0 auto;
  z-index: 1000; }

@media (max-width: 800px) {
  .fixed-controls-bar {
    top: 100px;
    position: fixed !important; } }
