.control-bar {
  width: 100%;
  max-width: 1685px;
  margin: 0 auto;
  user-select: none;
  height: 45px;
  background: #f5f3f3;
  border-bottom: 2px solid #e3e3e3e3;
  width: 100%;
  max-width: 1685px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (max-width: 480px) {
    .control-bar {
      height: 50px;
      background: #fff; } }
  .control-bar .control-bar-item {
    position: relative;
    width: 120px;
    height: 100%;
    margin-left: 30px;
    width: 160px;
    display: inline-block;
    cursor: pointer;
    text-align: center; }
    @media (max-width: 800px) {
      .control-bar .control-bar-item {
        width: 25%;
        display: inline-block;
        margin: 0; } }
    .control-bar .control-bar-item.active {
      background: #282828;
      color: #fff; }
      .control-bar .control-bar-item.active svg {
        fill: #fff; }
    .control-bar .control-bar-item.active.shuffle {
      background: #fff;
      color: #1a6ea9; }
      .control-bar .control-bar-item.active.shuffle svg {
        fill: #1a6ea9; }
    .control-bar .control-bar-item.active.view {
      background: #fff;
      color: #282828; }
      .control-bar .control-bar-item.active.view svg {
        fill: #282828; }
    .control-bar .control-bar-item .control-bar-item-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
    .control-bar .control-bar-item .control-bar-icon {
      display: block;
      text-align: center; }
    @media (max-width: 800px) {
      .control-bar .control-bar-item .control-bar-title.desktop {
        display: none; } }
    @media (min-width: 800px) {
      .control-bar .control-bar-item .control-bar-title.mobile {
        display: none; } }
    @media (min-width: 800px) {
      .control-bar .control-bar-item .control-bar-title {
        margin-left: 10px;
        vertical-align: top; } }
    @media (max-width: 800px) {
      .control-bar .control-bar-item .control-bar-title {
        font-size: 12px; } }
  .control-bar.fixed-control-bar {
    border-bottom: 0px solid rgba(255, 255, 255, 0); }
    @media (max-width: 800px) {
      .control-bar.fixed-control-bar {
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        border-left: 0px;
        position: fixed;
        top: 75px;
        z-index: 903; } }
    @media (max-width: 480px) {
      .control-bar.fixed-control-bar {
        top: 50px;
        height: 50px; } }

.controls {
  position: absolute;
  width: 100%;
  max-width: 1685px;
  margin: 0 auto;
  z-index: 1000; }

@media (max-width: 800px) {
  .fixed-controls-bar {
    top: 100px;
    position: fixed !important; } }
