// CONTROL BAR

.control-wrapper {
  // this shouldn't be necessary
  // use a wrapper div in homepage that keeps at correct width
  width: 100%;
  max-width: 1685px;
  margin: 0 auto;
  user-select: none;

  .control-bar {
    height: 45px;
    background: #f5f3f3;
    border-bottom: 1px solid #C9C6CB;
    border-top: 1px solid #C9C6CB;

    box-sizing: border-box;
    padding-top: 12px;

    @media (max-width: 480px) {
      height: 50px;
      background: #fff;
    }

    .control-bar-item {
      margin-left: 30px;
      width: 160px;
      display: inline-block;
      cursor: pointer;

      &.active {
        color: red;
      }

      .control-bar-icon {
        height: 24px;
      }

      .control-bar-title {
        &.desktop { @media(max-width: 800px) { display: none } }
        &.mobile { @media(min-width: 800px) { display: none } }

        @media(min-width: 800px) {
          margin-left: 10px;
          vertical-align: top;
        }
      }
    }

    &.fixed-control-bar {
      @media (max-width: 800px) {
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        border-left: 0px;
        position: fixed;
        top: 75px;
      }
      @media (max-width: 480px) {
        top: 50px;
        height: 50px;
      }
    }
  }

  .controls {
    position: absolute;
    width: 100%;
    max-width: 1685px;
    margin: 0 auto;
    z-index: 1000;
  }
}
