// CONTROL BAR

  .control-bar {
    width: 100%;
    max-width: 1685px;
    margin: 0 auto;
    user-select: none;
    height: 55px;
    background: #f5f3f3;
    border-bottom: 2px solid #e3e3e3e3;
    border-top: 2px solid #e3e3e3e3;

    // width: 100%;
    max-width: 1685px;
    margin: 0 auto;
    box-sizing: border-box;

    @media(min-width: 800px) {
      padding: 0 15px;
      padding-top: 2.5px;
    }

    @media (max-width: 480px) {
      height: 50px;
      background: #f5f3f3;
    }


      .filter-controls {
        display: inline-block;
        @media(min-width: 1100px) {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 5px;
        }
      }


    .control-bar-separator {
      display: none;
      @media(min-width: 800px) {
        display: inline-block;
        margin-right: 10px;
        font-size: 28px;
        vertical-align: middle;
        color: #545454;
        opacity: .9;
        font-weight: 100;
        font-family: 'Object-Sans-Thin',sans-serif;
        transform: translateY(-2px);

      }
    }

    .control-bar-item {
      position: relative;
      // height: 100%;
      margin-right: 10px;
      width: auto;
      display: inline-block;
      cursor: pointer;
      text-align: center;


      @media(max-width: 800px) {
        // width: 25%;
        width: 25vw;
        display: inline-block;
        margin: 0;
        height: 100%;
      }

      &.active {
        background: #000;
        color: #fff ;

        @media(min-width: 800px) {
          border-radius: 8px;
        }

        svg {
          fill: #fff;
        }
      }
      &.active.shuffle {
        color: #1a6ea9;
        background: #f5f3f3;

        .control-bar-item-content {
          @media(min-width: 800px) {
            background: #282828;
          }
        }

        svg {
          @media(min-width: 800px) {
            fill: #fff !important;
          }
          @media(max-width: 800px) {
            fill: #1a6ea9 !important;
          }

          @media (min-width: 800px) {
            fill: #fff;
          }
        }
        span {
          color: #1a6ea9;
        }
      }
      &.active.shuffle:hover {
        .control-bar-item-content {
          @media(min-width:800px) {
            background: rgba(0,0,0,0) !important;
          }
        }
        svg {
          fill: #545454 !important;
        }
      }
      &.active.view {
        background: #f5f3f3;;
        color: #282828;

        svg {
          fill: #282828;
        }
      }
      &.active.genre-filter {
        .control-bar-title {
          color: #fff;
        }
        svg {
          fill: #fff;
        }
      }
      &.active.moments {
        background: #282828;;
        color: #fff;

        span {
          color: #fff;
        }

        svg {
          fill: #fff;
        }
      }

      .control-bar-item-content {

        @media(max-width: 800px) {
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          width: 100%;
          padding-top:5px;
        }

        @media (min-width: 800px) {
          // border: 1px solid #282828;
          border: 1px solid #545454;
          border-radius: 8px;
          padding: 6px;
        }

        svg {
            fill: #545454;
            height: 20px;
            vertical-align: middle;
        }

        i.fas.fa-bolt {
            font-size: 18px;
        }
      }
      .control-bar-item-content:hover {
        @media(min-width: 800px) {
          background: #282828;
          color: #fff;
          cursor: pointer;
        }

        .control-bar-title {
          @media(min-width: 800px) {
            color: #fff;
          }
        }

        svg {
          @media(min-width: 800px) {
            fill: #fff;
          }
        }
      }

      .control-bar-icon {
        display: inline-block;
        @media(min-width: 800px) {
          height: 20px;
        }

        @media (max-width: 800px) {
          display: block;
          text-align: center;
        }

      }

      .control-bar-title {
        font-size: 12px;
        font-weight: bold;
        color: #545454;
        // transform:translateY(2px);
        &.desktop { @media(max-width: 800px) { display: none } }
        &.mobile {
          @media(min-width: 800px) {
            display: none
          }
        }

        @media(min-width: 800px) {
          margin-left: 5px;
          font-size: 13px;
          // vertical-align: middle;
          display: inline-block;
          font-weight: normal ;
        }
        @media(max-width: 800px) {
          font-size: 12px;
          padding-top: 6px;
          display: block;
          font-family: 'Object-Sans-Regular',sans-serif;
        }
      }
      .control-bar-title.shuffle {
        @media(min-width: 800px) {
          display: none;
        }
      }
    }

    .control-bar-item.moments {
      @media(max-width: 800px) {
        margin-right: 0 !important;
      }

    }

    .control-bar-item.shuffle {
      @media (min-width: 800px) {
        width: auto;
      }

      .control-bar-item-content {
        @media (min-width: 800px) {
          // border: 2px solid #282828;
          border: 2px solid #545454;
          border-radius: 50%;
          padding: 6px !important;
          margin-top: 5px;
          background: #f5f3f3;
        }


        .control-bar-icon {
          @media (min-width: 800px) {
            height: 22px;
          }

          svg {
            fill: #545454;
            height: 22px;
            vertical-align: middle;
            width: 22px;
            transform: translateY(1px);
          }
        }
      }
      .control-bar-item-content:hover {
        @media (min-width: 800px) {
          background: #282828;
          cursor: pointer;
        }

        svg {

          @media (min-width: 800px) {
            fill: #fff;
          }
        }
      }
    }

    .filter-query-container {
      display: inline-block;
}
  }

  .fixed-control-bar {
    border-bottom: 0px solid rgba(255,255,255,0);
    border-top: 0px solid #fff;
    @media (max-width: 800px) {
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      border-left: 0px;
      position: fixed;
      top: 75px;
      z-index: 903;
    }
    @media (max-width: 480px) {
      top: 50px;
      height: 50px;
    }
  }

  .controls {
    position: absolute;
    // width: 100%;
    max-width: 1685px;
    margin: 0 auto;
    z-index: 1000;
  }
  .fixed-controls-bar {

    @media (max-width: 800px) {
      top: 100px;
      position: fixed !important;
    }
  }
