footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  z-index: 2000; }
  @media (max-width: 480px) {
    footer {
      height: 50px; } }
  footer .footer-player {
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
    background: #282828;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: block;
    z-index: 3001;
    padding: 10px; }
    @media (min-width: 800px) {
      footer .footer-player {
        border-top: 2px solid #fff; } }
    footer .footer-player .player-info {
      width: calc((100% - 550px) / 2);
      height: 100%;
      display: inline-block; }
      @media screen and (max-width: 1000px) {
        footer .footer-player .player-info {
          width: calc(100% - 200px); } }
      @media screen and (max-width: 650px) {
        footer .footer-player .player-info {
          width: calc(100% - 150px); } }
      @media screen and (max-width: 480px) {
        footer .footer-player .player-info {
          width: calc(100% - 120px);
          margin-left: 55px; } }
      footer .footer-player .player-info .player-info-image-wrapper {
        width: 55px;
        float: left;
        height: 55px;
        margin: 0;
        margin-right: 10px;
        overflow: hidden;
        cursor: pointer; }
        @media screen and (max-width: 480px) {
          footer .footer-player .player-info .player-info-image-wrapper {
            display: none; } }
        footer .footer-player .player-info .player-info-image-wrapper a.songImageLink img {
          height: 55px;
          width: 55px;
          margin: 0;
          border: 0px solid #fff;
          border-radius: 6px; }
      footer .footer-player .player-info .artist-info {
        margin-bottom: 0px;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px 0 4px;
        padding-top: 9px; }
        @media screen and (min-width: 600px) {
          footer .footer-player .player-info .artist-info {
            margin-left: 0px; } }
        @media screen and (max-width: 480px) {
          footer .footer-player .player-info .artist-info {
            width: 100%;
            max-width: 285px;
            padding: 0; } }
        footer .footer-player .player-info .artist-info a.songImageLink {
          text-decoration: none;
          color: #fff;
          display: block; }
          @media screen and (max-width: 480px) {
            footer .footer-player .player-info .artist-info a.songImageLink {
              margin-bottom: 0px; } }
          footer .footer-player .player-info .artist-info a.songImageLink .song-title {
            font-size: 16px;
            line-height: 20px;
            display: block;
            max-width: 100%;
            width: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'Object-Sans-Bold',sans-serif; }
            @media screen and (max-width: 480px) {
              footer .footer-player .player-info .artist-info a.songImageLink .song-title {
                font-size: 14px;
                line-height: 16px; } }
        footer .footer-player .player-info .artist-info .artist-title {
          color: #fff;
          font-weight: 100;
          font-size: 16px;
          line-height: 20px;
          max-width: 100%;
          width: auto;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-family: 'Object-Sans-Thin',sans-serif; }
          @media screen and (max-width: 480px) {
            footer .footer-player .player-info .artist-info .artist-title {
              font-size: 14px;
              line-height: 16px; } }
    footer .footer-player .player-controls-wrapper {
      width: 550px;
      display: inline-block;
      height: 100%;
      vertical-align: top; }
      @media screen and (max-width: 1000px) {
        footer .footer-player .player-controls-wrapper {
          width: auto; } }
      @media screen and (max-width: 480px) {
        footer .footer-player .player-controls-wrapper {
          display: inline-block;
          vertical-align: top;
          position: absolute;
          padding: 0;
          left: 0;
          height: 55px;
          width: 55px !important;
          top: 0; } }
      @media screen and (min-width: 480px) {
        footer .footer-player .player-controls-wrapper .player-controls {
          display: flex;
          flex: 0 0 550px;
          flex-direction: column;
          height: inherit;
          justify-content: center;
          margin-right: auto; } }
      @media screen and (min-width: 480px) {
        footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 3px; } }
      footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons button#player-control-button-back, footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons button#player-control-button-next {
        margin: 0; }
        @media screen and (max-width: 650px) {
          footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons button#player-control-button-back, footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons button#player-control-button-next {
            display: none; } }
      footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .outline-single-song-controls {
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        margin: 0 20px; }
        @media (max-width: 480px) {
          footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .outline-single-song-controls {
            margin: 0 0px; } }
        footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .outline-single-song-controls svg, footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .outline-single-song-controls img {
          width: 40px;
          height: 40px; }
          @media (max-width: 480px) {
            footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .outline-single-song-controls svg, footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .outline-single-song-controls img {
              padding: 5px; } }
      footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .player-control-button {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        cursor: pointer;
        flex: 0 0 10px;
        font-size: 18px;
        transition: all .3s ease; }
        footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .player-control-button .im {
          display: inline-block;
          font: normal normal normal 15px/1 'iconmonstr-iconic-font';
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #fff; }
      footer .footer-player .player-controls-wrapper .player-controls .player-controls-buttons .button.disabled {
        pointer-events: none; }
      footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper {
        align-items: center;
        text-align: center;
        display: flex;
        background: transparent; }
        @media (max-width: 1000px) {
          footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper {
            position: absolute;
            padding: 0;
            width: 100%;
            left: 0;
            top: -5px;
            height: auto; } }
        @media (max-width: 480px) {
          footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper {
            width: 100vw;
            left: 0;
            top: -5px;
            pointer-events: none; } }
        footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar {
          flex: 1 1;
          align-self: center;
          height: 5px;
          cursor: pointer; }
          footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            height: 5px;
            background-color: #fff;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            touch-action: none; }
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider * {
              box-sizing: border-box;
              -webkit-tap-highlight-color: transparent; }
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider .rc-slider-rail {
              height: 5px;
              background-color: #3f3f3f;
              box-sizing: border-box;
              -webkit-tap-highlight-color: transparent;
              position: absolute;
              width: 100%;
              border-radius: 6px; }
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider .rc-slider-track {
              height: 5px;
              z-index: 4;
              visibility: visible;
              left: 0;
              width: 0;
              position: absolute;
              border-radius: 6px;
              background: #0097d5; }
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider .rc-slider-step {
              height: 5px;
              border: 1px solid #3f3f3f;
              border-radius: 6px;
              position: absolute;
              width: 100%;
              background: transparent;
              background-color: #3f3f3f; }
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider .rc-slider-handle {
              display: none; }
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar .rc-slider .rc-slider-mark {
              position: absolute;
              top: 18px;
              left: 0;
              width: 100%;
              font-size: 12px; }
        footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar-current-time, footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar-song-duration {
          letter-spacing: 2px;
          font-size: 10px;
          flex: 0 0 60px;
          display: inline-block;
          color: #fff;
          transform: translate(2px, 2px); }
          @media (max-width: 1000px) {
            footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar-current-time, footer .footer-player .player-controls-wrapper .player-controls .player-duration-bar-wrapper .player-duration-bar-song-duration {
              display: none; } }
    footer .footer-player .songSourceContainer {
      fill: #fff;
      width: 55px;
      position: relative;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      float: right; }
      @media (max-width: 480px) {
        footer .footer-player .songSourceContainer {
          top: 0px;
          margin-right: 10px;
          position: absolute; } }
      footer .footer-player .songSourceContainer a svg {
        fill: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      @media (max-width: 480px) {
        footer .footer-player .songSourceContainer a.source.youtube {
          padding-top: 5px; } }
      @media (max-width: 650px) {
        footer .footer-player .songSourceContainer a.source.youtube svg {
          width: 30px !important;
          height: 30px !important; } }
