.imageHover {
  border: 0px solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff; }

.imageHover .contentWrapper {
  height: 100%;
  width: 100%;
  position: absolute; }
  .imageHover .contentWrapper .gridSongInfo {
    display: inline-block;
    margin: 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    height: auto;
    width: calc(100% - 8px);
    vertical-align: middle;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 4px;
    padding-bottom: 2px; }
    @media (min-width: 1100px) and (max-width: 1250px) {
      .imageHover .contentWrapper .gridSongInfo {
        padding-bottom: 2px; } }
    .imageHover .contentWrapper .gridSongInfo span {
      color: #fff;
      margin: 0px;
      padding: 0px;
      letter-spacing: .5px;
      font-size: 10px;
      display: block;
      line-height: 12px;
      color: #000; }
    .imageHover .contentWrapper .gridSongInfo .song-name {
      font-size: 11px;
      line-height: 12px;
      font-weight: 700;
      height: 11.5px;
      overflow: hidden;
      font-family: 'Object-Sans-Bold',sans-serif;
      margin-bottom: 1px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      @media (min-width: 1100px) and (max-width: 1250px) {
        .imageHover .contentWrapper .gridSongInfo .song-name {
          font-size: 10px;
          line-height: 10px;
          height: 9px; } }
    .imageHover .contentWrapper .gridSongInfo .artist-name {
      font-weight: 400;
      font-size: 11px;
      line-height: 12px;
      height: 12px;
      overflow: hidden;
      font-family: 'Object-Sans-Normal',sans-serif;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      @media (min-width: 1100px) and (max-width: 1250px) {
        .imageHover .contentWrapper .gridSongInfo .artist-name {
          font-size: 10px;
          line-height: 10px;
          height: 11px; } }

.activeDiscoverFullSong .tagWrapper {
  display: none; }

.songGrid .tagWrapper .postTags span.grid-tag:nth-of-type(3), .songGrid .tagWrapper .postTags span.grid-tag:nth-of-type(4), .songGrid .tagWrapper .postTags span.grid-tag:nth-of-type(5) {
  display: none; }
