.imageHover {
  border: 0px solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff; }

.imageHover .contentWrapper {
  height: 100%;
  width: 100%;
  position: absolute; }
  .imageHover .contentWrapper .gridSongInfo {
    display: inline-block;
    margin: 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    height: auto;
    width: calc(100% - 6px);
    vertical-align: middle;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px;
    padding-left: 4px; }
    .imageHover .contentWrapper .gridSongInfo span {
      color: #fff;
      margin: 0px;
      padding: 0px;
      letter-spacing: .5px;
      font-size: 10px;
      display: block;
      line-height: 12px;
      color: #000; }
    .imageHover .contentWrapper .gridSongInfo .song-name {
      font-weight: bold;
      font-size: 12px;
      line-height: 13px;
      font-weight: 700;
      margin-bottom: 1px;
      height: 13px;
      overflow: hidden; }
    .imageHover .contentWrapper .gridSongInfo .artist-name {
      font-weight: 400;
      font-size: 11px;
      line-height: 12px; }

.activeDiscoverFullSong .tagWrapper {
  display: none; }

.songGrid .tagWrapper .postTags span.grid-tag:nth-of-type(3), .songGrid .tagWrapper .postTags span.grid-tag:nth-of-type(4), .songGrid .tagWrapper .postTags span.grid-tag:nth-of-type(5) {
  display: none; }
