.imageHover {
    border: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0px solid #fff;
}


.imageHover .contentWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    // height: calc(100% - 0px);
    // width: calc(100% - 0px);
    // position: absolute;
    // border: 2px solid #fff;
    // border-top: 4px solid #fff;
    // border-bottom: 4px solid #fff;

    .gridSongInfo {
      display: inline-block;
      margin: 0;
      pointer-events: none;
      position: absolute;
      text-align: left;
      height: auto;
      width: calc(100% - 6px);
      vertical-align: middle;
      bottom: 0;
      background: rgba(255,255,255,.8);
      padding: 2px;
      padding-left: 4px;
      padding-bottom: 0;


      span {
        color: #fff;
        margin: 0px;
        padding: 0px;
        letter-spacing: .5px;
        font-size: 10px;
        display: block;
        line-height: 12px;
        color: #000;
      }
      .song-name {
        font-weight: bold;
        font-size: 11px;
        line-height: 12px;
        font-weight: 700;
        // margin-bottom: 1px;
        height: 13px;
        overflow: hidden;

      }
      .artist-name {
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        line-height: 12px;
        height: 13px;
        overflow: hidden;
      }
}
}


.activeDiscoverFullSong {
  .tagWrapper {
    display: none;
  }
}
.songGrid {
  .tagWrapper {
    .postTags {
      span.grid-tag:nth-of-type(3), span.grid-tag:nth-of-type(4), span.grid-tag:nth-of-type(5) {
          display: none;
      }
    }
  }
}
