footer {
  .footer-player {
    color: #fff;
    border-top: 0px solid #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
    padding-top: 8px;
    padding-bottom: 8px;
    background: #282828;
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    z-index: 7000;

    @media screen and (max-width: 480px) {
        padding-bottom: 5px;
        height: 50px;
    }

    .player-info {
      font-size: 15px;
      align-items: center;
      display: flex;
      flex: 1 1;
      min-width: 0;
      padding-right: 0;

      @media screen and (max-width: 650px) {
        flex: .85 1;
      }
      @media screen and (max-width: 480px) {
        width: 80%;
        display: block;
        padding: 0;
        flex: none;
      }

      .player-info-image-wrapper {
        width: 60px;
        float: left;
        background: transparent;
        transition: -webkit-transform 0.15s ease-in, transform 0.15s ease-in, opacity 0.15s ease-in, box-shadow 0.15s ease-in;
        border-radius: 8px;
        flex: 0 0 60px;
        height: 60px;
        margin: 0 0px 5px 20px;
        overflow: hidden;
        cursor: pointer;
        backface-visibility: hidden;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);

        @media screen and (min-width: 600px) {
            margin: 0 10px 5px;
        }
        @media screen and (max-width: 480px) {
            display: none;
        }

        a.songImageLink {
          img {
              height: 60px;
              width: 60px;
              margin: 0;
              border: 0px solid #fff;
          }
        }
      }

      .artist-info {
        float: left;
        margin-left: 15px;
        margin-bottom: 4px;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (min-width: 600px) {
          margin-left: 0px;
        }
        @media screen and (max-width: 480px) {
          margin-left: 49px;
          width: 100%;
          max-width: 285px;
          transform: translateY(-2px);
        }

        a.songImageLink {
            text-decoration: none;
            color: #fff;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 26px;

            @media screen and (max-width: 600px) {
                display: block;
            }
            @media screen and (max-width: 480px) {
                margin-bottom: 0px;
            }

            .song-title {

              @media screen and (max-width: 600px) {
                display: block;
                margin-top: 3px;
                line-height: 18px;
                margin-bottom: 0;
                font-size: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              @media screen and (max-width: 480px) {
                display: block;
                margin-top: 0;
                line-height: 20px;
                margin-bottom: 0;
                font-size: 16px;
              }
            }

            .artist-title {
                color: #fff;
                font-weight: 100;

                @media screen and (max-width: 480px) {
                  font-size: 16px;
                  line-height: 20px;
                }
            }
        }

        br {
          @media screen and (max-width: 600px) {
              display: none;
          }
        }

        .artist-title {
            color: #fff;
            font-weight: 100;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
            @media screen and (max-width: 480px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
      }

    }

    .player-controls-wrapper {

      @media screen and (min-width: 480px) {
        display: flex;
        flex: 1 1 550px;
      }

      @media (max-width: 1000px) {
            flex: 0 0 100px;
      }

      @media (max-width: 1000px) and (min-width: 650px) {
            margin-right: 150px;
      }

      @media screen and (max-width: 480px) {
        position: absolute;
        left: 7px;
        margin-right: 10px;
      }

      .player-controls {

        @media screen and (min-width: 480px) {
          display: flex;
          flex: 0 0 550px;
          flex-direction: column;
          height: inherit;
          justify-content: center;
          margin-right: auto;
        }
        @media screen and (max-width: 1000px) {
          flex: 1 1;
          margin-right: 0px;
          height: inherit;
        }

        .player-controls-buttons {

          @media screen and (min-width: 480px) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
          }

          button#player-control-button-back, button#player-control-button-next {
            margin: 0;

            @media screen and (max-width: 800px) {
              display: none;
            }
          }

          #player-control-button-play {
              border-radius: 50%;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
              flex: 0 0 40px;
              align-items: center;
              justify-content: center;
              margin: 0 20px;
              text-align: center;

              @media screen and (max-width: 480px) {
                flex: 0 0 40px;
                align-items: center;
                justify-content: center;
                margin: 0 0px;
                text-align: center;
              }

              svg {
                fill: #fff;
              }
          }
          .player-control-button {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            cursor: pointer;
            flex: 0 0 10px;
            font-size: 18px;
            transition: all .3s ease;
            .im {
                display: inline-block;
                font: normal normal normal 15px/1 'iconmonstr-iconic-font';
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #fff;
            }
          }
          .button.disabled {
              pointer-events: none;
          }
        }

        .player-duration-bar-wrapper {
          align-items: center;
          text-align: center;
          display: flex;
          background: transparent;

          @media (max-width: 1000px) {
            position: absolute;
            padding: 0;
            width: 100%;
            left: 0;
            top: -5px;
            height: auto;
          }
          @media (max-width: 480px) {
            width: 100vw;
            left: -7px;
            top: -12px;
            pointer-events: none;
          }

          .player-duration-bar {
              flex: 1 1;
              align-self: center;
              height: 5px;
              cursor: pointer;

              .rc-slider {
                position: relative;
                width: 100%;
                box-sizing: border-box;
                -webkit-tap-highlight-color: transparent;
                height: 5px;
                background-color: #fff;
                margin: 0;
                padding: 0;
                border-radius: 5px;
                touch-action: none;

                * {
                  box-sizing: border-box;
                  -webkit-tap-highlight-color: transparent;
                }

                .rc-slider-rail {
                  height: 5px;
                  background-color: #3f3f3f;
                  box-sizing: border-box;
                  -webkit-tap-highlight-color: transparent;
                  position: absolute;
                  width: 100%;
                  border-radius: 6px;
                }
                .rc-slider-track {
                  height: 5px;
                  z-index: 4;
                  visibility: visible;
                  left: 0;
                  width: 0;
                  position: absolute;
                  border-radius: 6px;
                  background: #0097d5;
                }
                .rc-slider-step {
                    height: 5px;
                    border: 1px solid #3f3f3f;
                    border-radius: 6px;
                    position: absolute;
                    width: 100%;
                    background: transparent;
                    background-color: #3f3f3f;
                }
                .rc-slider-handle {
                  display: none;
                }
                .rc-slider-mark {
                  position: absolute;
                  top: 18px;
                  left: 0;
                  width: 100%;
                  font-size: 12px;
                }
              }
          }

          .player-duration-bar-current-time, .player-duration-bar-song-duration {
              font-family: Open Sans;
              letter-spacing: 2px;
              font-size: 10px;
              flex: 0 0 60px;
              display: inline-block;

              @media (max-width: 1000px) {
                display: none;
              }
          }
        }

      }

    }

    .songSourceContainer {
      margin-right: 20px;
      position: absolute;
      right: 0;

      @media (min-width: 650px) {
        top: 50%;
        transform: translateY(-50%);
      }
      @media (max-width: 650px) {
        margin-right: 15px;
        position: absolute;
        padding: 5px;
        padding-top: 15px;
      }
      @media (max-width: 480px) {
        top: 0px;
        margin-right: 10px;
        position: absolute;
        padding: 5px;
        padding-top: 5px;
      }

      a {
        color: #fff;
        text-align: center;
        display: block;
        font-weight: 400;
        text-transform: uppercase;

        svg {
          fill: #fff;
        }
      }
      a.source.youtube {

          @media (max-width: 480px) {
            padding-top: 5px;
          }

          svg {
            @media (max-width: 650px) {
              width: 30px!important;
              height: 30px!important;
            }
          }
      }
    }

  }
}
