footer {
  .footer-player {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
    background: #282828;
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    display: block;
    z-index: 1000;
    padding: 10px;

    @media (max-width: 800px) {
      z-index: 901;

    }
    @media screen and (max-width: 480px) {
        height: 50px;
        padding: 0;
    }

    .player-info {
      width: calc((100% - 550px) / 2);
      height: 100%;
      display: inline-block;

      @media screen and (max-width: 1000px) {
            width: calc(100% - 200px);
      }
      @media screen and (max-width: 650px) {
            width: calc(100% - 150px);
      }
      @media screen and (max-width: 480px) {
          width: calc(100% - 120px);
          margin-left: 55px;
      }

      .player-info-image-wrapper {
        width: 55px;
        float: left;
        height: 55px;
        margin: 0;
        margin-right: 10px;
        overflow: hidden;
        cursor: pointer;

        @media screen and (min-width: 600px) {
            // margin: 0 10px 5px;
        }
        @media screen and (max-width: 480px) {
            display: none;
        }

        a.songImageLink {
          img {
            height: 55px;
            width: 55px;
            margin: 0;
            border: 0px solid #fff;
            border-radius: 6px;
          }
        }
      }

      .artist-info {
        margin-bottom: 0px;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 7px 0 4px;

        @media screen and (min-width: 600px) {
          margin-left: 0px;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
          max-width: 285px;
        }

        a.songImageLink {
            text-decoration: none;
            color: #fff;
            margin-bottom: 5px;
            display: block;

            @media screen and (max-width: 480px) {
                margin-bottom: 0px;
            }

            .song-title {
              font-size: 20px;
              line-height: 20px;
              display: block;

              @media screen and (max-width: 480px) {
                  font-size: 16px;
                  line-height: 16px;
              }
            }
        }

        .artist-title {
          color: #fff;
          font-weight: 100;
          font-size: 20px;
          line-height: 20px;

            @media screen and (max-width: 480px) {
                font-size: 16px;
                line-height: 16px;
            }
        }
      }

    }

    .player-controls-wrapper {
        width: 550px;
        display: inline-block;
        height: 100%;
        vertical-align: top;

      @media screen and (max-width: 1000px) {
        width: auto;
      }

      @media screen and (max-width: 480px) {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        padding: 0;
        left: 0;
        height: 55px;
        width: 55px !important;
        top: 0;
      }


      .player-controls {

        @media screen and (min-width: 480px) {
          display: flex;
          flex: 0 0 550px;
          flex-direction: column;
          height: inherit;
          justify-content: center;
          margin-right: auto;
        }
        @media screen and (max-width: 1000px) {
          // flex: 1 1;
          // margin-right: 0px;
          // height: inherit;
        }

        .player-controls-buttons {

          @media screen and (min-width: 480px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          button#player-control-button-back, button#player-control-button-next {
            margin: 0;

            @media screen and (max-width: 650px) {
              display: none;
            }
          }

          #player-control-button-play {
              border-radius: 50%;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(83, 83, 92, 0.11);
              flex: 0 0 40px;
              align-items: center;
              justify-content: center;
              margin: 0 20px;
              text-align: center;

              @media screen and (max-width: 480px) {
                margin: 0 0px;
              }

              svg, img {
                fill: #fff;

                @media screen and (max-width: 480px) {
                  height: 40px;
                  width: 40px;
                  padding: 5px;
                }
              }
          }
          .player-control-button {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            cursor: pointer;
            flex: 0 0 10px;
            font-size: 18px;
            transition: all .3s ease;
            .im {
                display: inline-block;
                font: normal normal normal 15px/1 'iconmonstr-iconic-font';
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #fff;
            }
          }
          .button.disabled {
              pointer-events: none;
          }
        }

        .player-duration-bar-wrapper {
          align-items: center;
          text-align: center;
          display: flex;
          background: transparent;


          @media (max-width: 1000px) {
            position: absolute;
            padding: 0;
            width: 100%;
            left: 0;
            top: -5px;
            height: auto;
          }
          @media (max-width: 480px) {
            width: 100vw;
            left: 0;
            top: -5px;
            pointer-events: none;
          }

          .player-duration-bar {
              flex: 1 1;
              align-self: center;
              height: 5px;
              cursor: pointer;

              .rc-slider {
                position: relative;
                width: 100%;
                box-sizing: border-box;
                -webkit-tap-highlight-color: transparent;
                height: 5px;
                background-color: #fff;
                margin: 0;
                padding: 0;
                border-radius: 5px;
                touch-action: none;

                * {
                  box-sizing: border-box;
                  -webkit-tap-highlight-color: transparent;
                }

                .rc-slider-rail {
                  height: 5px;
                  background-color: #3f3f3f;
                  box-sizing: border-box;
                  -webkit-tap-highlight-color: transparent;
                  position: absolute;
                  width: 100%;
                  border-radius: 6px;
                }
                .rc-slider-track {
                  height: 5px;
                  z-index: 4;
                  visibility: visible;
                  left: 0;
                  width: 0;
                  position: absolute;
                  border-radius: 6px;
                  background: #0097d5;
                }
                .rc-slider-step {
                    height: 5px;
                    border: 1px solid #3f3f3f;
                    border-radius: 6px;
                    position: absolute;
                    width: 100%;
                    background: transparent;
                    background-color: #3f3f3f;
                }
                .rc-slider-handle {
                  display: none;
                }
                .rc-slider-mark {
                  position: absolute;
                  top: 18px;
                  left: 0;
                  width: 100%;
                  font-size: 12px;
                }
              }
          }

          .player-duration-bar-current-time, .player-duration-bar-song-duration {
              font-family: Open Sans;
              letter-spacing: 2px;
              font-size: 10px;
              flex: 0 0 60px;
              display: inline-block;
              color: #fff;
              transform: translateX(2px);

              @media (max-width: 1000px) {
                display: none;
              }
          }
        }

      }

    }

    .songSourceContainer {
      fill: #fff;
      width: 55px;
      position: relative;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      float: right;

      @media (max-width: 480px) {
        top: 0px;
        margin-right: 10px;
        position: absolute;
      }

      a {
        svg {
          fill: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      a.source.youtube {

          @media (max-width: 480px) {
            padding-top: 5px;
          }

          svg {
            @media (max-width: 650px) {
              width: 30px!important;
              height: 30px!important;
            }
          }
      }
    }

  }
}
