.pagination-container{
  width: 125px;
  flex-direction: row;
  margin: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  text-align: center;
}
.pagination-dot-small {
  margin-left: 2.5px;
  margin-right: 2.5px;
  height: 8px;
  width:  8px;
  // background-color: #D8D8D8;
  background-color: #282828;
  border-radius: 50%;
  i {
    color: #282828;
  }
}
.pagination-dot {
  right: 0;
  top: 0;
  margin-left: 5px;
  margin-right: 5px;

  i {
    color: #282828;
  }

  i.active {
    color: #4A90E2;
  }
}
.pagination-dot-active{
  i {
    color: #4A90E2;
  }
}
.pagination-controls {
  text-align: center;
  flex-direction: row;
  height: 20px;
  display: flex;
  justify-content: center;
  .grid-arrow {
    height: 20px;
    opacity: .5;
    transition: .2s ease all;
    img {
      height: 100%;
    }
    &.next {
      right: 0;
    }
    &.previous {
      transform: rotate(180deg);
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
