.pagination-container {
  width: 125px;
  flex-direction: row;
  margin: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  text-align: center; }

.pagination-dot-small {
  margin-left: 2.5px;
  margin-right: 2.5px;
  height: 8px;
  width: 8px;
  background-color: #282828;
  border-radius: 50%; }
  .pagination-dot-small i {
    color: #282828; }

.pagination-dot {
  right: 0;
  top: 0;
  margin-left: 5px;
  margin-right: 5px; }
  .pagination-dot i {
    color: #282828; }
  .pagination-dot i.active {
    color: #4A90E2; }

.pagination-dot-active i {
  color: #4A90E2; }

.pagination-controls {
  text-align: center;
  flex-direction: row;
  height: 20px;
  display: flex;
  justify-content: center; }
  .pagination-controls .grid-arrow {
    height: 20px;
    opacity: .5;
    transition: .2s ease all; }
    .pagination-controls .grid-arrow img {
      height: 100%; }
    .pagination-controls .grid-arrow.next {
      right: 0; }
    .pagination-controls .grid-arrow.previous {
      transform: rotate(180deg); }
    .pagination-controls .grid-arrow:hover {
      opacity: 1;
      cursor: pointer; }
