div#discovery-container.fullGridLayout .songGrid {
  display: none; }

div#discovery-container.fullGridLayout .discover-full-song {
  display: none; }

.discover-cover {
  display: none; }

.discovery-section {
  position: relative; }
  @media (min-width: 800px) {
    .discovery-section {
      padding-bottom: 35px;
      height: calc(100vh - 174px); } }
  @media (max-width: 480px) {
    .discovery-section {
      margin-top: calc(100vw + 89px);
      z-index: 900;
      background: #fff; } }
  .discovery-section img.discover-cover {
    display: none; }
  @media (min-width: 800px) {
    .discovery-section .disableScroll {
      overflow: hidden; } }
  @media (min-width: 800px) {
    .discovery-section .discovery-container {
      background: #fafafa;
      width: 100vw;
      max-height: calc(100vh - 135px);
      max-width: 1685px;
      height: calc(100vh - 75px);
      margin: 0 auto;
      overflow: auto; } }
  @media (min-width: 800px) {
    .discovery-section .discovery-container {
      height: calc(100vh - 50px); } }
  .discovery-section .songList {
    z-index: 890;
    padding-bottom: 75px; }
    @media (min-width: 800px) {
      .discovery-section .songList {
        display: none; } }
    @media (max-width: 800px) {
      .discovery-section .songList {
        width: 100%;
        display: inline-block;
        background: #fff;
        vertical-align: top;
        padding-top: 15px;
        padding-bottom: 75px; } }
  @media (max-width: 800px) and (min-width: 480px) {
    .discovery-section .songList.fixedFiltersBarPadding {
      padding-top: 110px; } }
  @media (max-width: 480px) {
    .discovery-section .songList.fixedFiltersBarPadding {
      padding-top: 65px; } }
  .discovery-section .pagination-controls {
    padding: 20px 0; }
