@media (min-width: 1200px) {
  .fullGridLayout .songList .songContainer:nth-of-type(16) {
    display: none !important; } }

@media (max-width: 800px) {
  .fullGridLayout .songList .songContainer:nth-of-type(16) {
    display: none !important; } }

@media (min-width: 800px) {
  .fullGridLayout .songList {
    display: block;
    text-align: center; } }

.fullGridLayout .songList .songContainer {
  margin: 2px;
  width: calc(20vw - 4px);
  height: calc(20vw - 4px);
  padding: 0;
  display: inline-block;
  max-width: none;
  position: relative; }
  .fullGridLayout .songList .songContainer hr {
    display: none; }
  @media (max-width: 1200px) and (min-width: 800px) {
    .fullGridLayout .songList .songContainer {
      width: calc(25vw - 4px);
      height: calc(25vw - 4px); } }
  @media (max-width: 800px) {
    .fullGridLayout .songList .songContainer {
      display: inline-block;
      vertical-align: top;
      padding: 0 0;
      margin: 1px;
      width: calc(33vw - 2px);
      height: calc(33vw - 2px); } }
  @media (max-width: 800px) {
    .fullGridLayout .songList .songContainer .wrapper {
      width: calc(33vw - 2px);
      height: calc(33vw - 2px);
      padding: 0;
      margin: 0; } }
  @media (min-width: 800px) {
    .fullGridLayout .songList .songContainer .wrapper .postContent {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding-bottom: 0; } }
  @media (max-width: 800px) {
    .fullGridLayout .songList .songContainer .wrapper .postContent {
      display: inline-block;
      width: calc(100%);
      height: calc(33vw - 2px) !important; } }
  .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer {
    position: relative;
    z-index: 1; }
    @media (min-width: 800px) {
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer {
        width: calc(20vw - 4px);
        height: calc(20vw - 4px);
        display: inline-block;
        vertical-align: top;
        padding-right: 0px;
        max-height: none; } }
    @media (max-width: 1200px) and (min-width: 800px) {
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer {
        width: calc(25vw - 4px);
        height: calc(25vw - 4px); } }
    @media (max-width: 800px) {
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer {
        height: 100%;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding-right: 5px; } }
    .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer img.songImage {
      max-height: 100%;
      border-radius: 0; }
      @media (max-width: 1200px) and (min-width: 800px) {
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer img.songImage {
          width: 100%;
          height: 100%; } }
      @media (max-width: 800px) {
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer img.songImage {
          margin: 0; } }
    .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: inline-block;
      pointer-events: all; }
      @media (max-width: 800px) {
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link {
          display: none; } }
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link .hover-content {
        display: inline-block;
        opacity: 0;
        transition: all .3s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 107;
        text-align: center;
        width: 100%; }
        @media (max-width: 800px) {
          .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link .hover-content {
            display: none; } }
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link .hover-content .tagWrapper .postTags .hover-tag {
          color: #fff;
          margin: 0;
          padding: 0;
          border-radius: 6px;
          letter-spacing: .5px;
          font-family: Baloo,cursive;
          display: block;
          font-size: 20px;
          line-height: 20px;
          border: none;
          background: none; }
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link .hover-content .goToPage {
          z-index: 107;
          text-decoration: none;
          background: #1a6ea9;
          color: #fff;
          max-width: 40%;
          margin: 10px auto;
          display: inline-block;
          border-radius: 6px;
          padding: 10px; }
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link img.heroHoverGradient {
        display: inline-block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0; }
        @media (max-width: 800px) {
          .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .song-hover-link img.heroHoverGradient {
            display: none; } }
    .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid {
      display: inline-block;
      z-index: 103;
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      position: absolute; }
      @media (max-width: 800px) {
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid {
          display: none; } }
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid .singlePostPlayerButton {
        pointer-events: all;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        padding: 5px; }
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid .singlePostPlayerButton img {
          width: 30px;
          height: 30px;
          border-radius: 0; }
      .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid .song-info {
        width: calc(100% - 45px);
        text-align: left;
        display: inline-block;
        vertical-align: top;
        padding: 5px 0 4px;
        transform: translateX(-0.8px); }
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid .song-info p.song-title {
          font-weight: 700;
          font-size: 14.5px;
          line-height: 15px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 1px; }
        .fullGridLayout .songList .songContainer .wrapper .postContent .imageContainer .songImageInfoContainer.grid .song-info p.song-artist {
          font-size: 14.5px;
          font-weight: 400;
          line-height: 15px; }
  .fullGridLayout .songList .songContainer .wrapper .postContent .topContentContainer {
    display: none; }
  .fullGridLayout .songList .songContainer .goToSongPage {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .fullGridLayout .songList .songContainer .goToSongPage i {
      display: none; }
  @media (max-width: 800px) {
    .fullGridLayout .songList .songContainer a.seeMore {
      display: none; } }

.fullGridLayout .songList .songContainer:hover .hover-content {
  display: inline-block;
  opacity: 1 !important;
  -webkit-transition: all .3s ease; }

.fullGridLayout .songList .songContainer:hover .heroHoverGradient {
  opacity: 1 !important; }
