// SNAP LIST LAYOUT
  .previewScrollLayout {
    .songList {

      @media (min-width: 800px) {
        display: block;
        max-width: 1400px;
        margin: 0 auto;
      }

      .songContainer {
        position: relative;

        @media (min-width: 1000) {
          width: calc(50% - 30px);
          padding: 15px 15px;
          display: inline-block;
          max-width: 700px;
          margin: 0 auto;
        }

        @media (max-width: 800px) {
          display: inline-block;
          vertical-align: top;
          padding: 0 0;
          width: 100%;
          border-bottom: 1px solid #E0E0E0;
          margin: 5px 0px;
        }

        .wrapper {

          @media (max-width: 800px) {
            padding: 0px 0 5px;
            width: calc(80% - 15px);
            display: inline-block;
            padding-left: 15px;
            pointer-events: all;
            cursor: pointer;
          }

          .postContent {

            @media (min-width: 1000px) {
              display: inline-block;
              width: 100%;
              overflow: hidden;
              max-height: 200px;
              min-height: 200px;
              height: 12vw;
            }
            @media (max-width: 1000px) and (min-width: 800px) {
              display: inline-block;
              width: 100%;
              overflow: hidden;
              max-height: 200px;
              height: 12vw;
            }

            .imageContainer {

              @media (min-width: 800px) {
                max-height: 200px;
                max-width: 200px;
                height: 12vw;
                width: 12vw;
                display: inline-block;
                vertical-align: top;
                padding-right: 25px;
              }

              @media (max-width: 1000px) and (min-width: 800px) {
                max-height: 200px;
                max-width: 200px;
                height: 12vw;
                width: 12vw;
                display: inline-block;
                vertical-align: top;
                padding-right: 0px;
              }

              @media (max-width: 800px) {
                max-width: 50px;
                height: 50px;
                width: 50px;
              }

              .song-hover-link {
                display: none;
              }

              img.songImage {

                @media (min-width: 1000px) {
                  max-height: 200px;
                  height: 100%;
                  width: 100%;
                  border-radius: 4px;
                }
                @media (max-width: 800px) {
                  border-radius: 2px;
                  height: 50px;
                  width: 50px;
                  max-width: 50px;
                  margin-left: 0px;
                }
              }
              .songImageInfoContainer {
                display: none;
              }
              .topContentContainer {

                @media (min-width: 1000) {
                  display: inline-block;
                  width: calc(100% - 12vw - 45px);
                  vertical-align: top;
                  height: auto;
                  padding-left: 10px;
                }
                @media (max-width: 800px) {
                  width: 80%;
                }

                .postInfoContainer {

                  .singlePostPlayer {

                    @media (min-width:1000px) {
                      width: 50px;
                      height: 50px;
                      display: inline-block;
                      text-align: left;
                      vertical-align: top;
                    }
                    @media (max-width: 1000px) and (min-width: 800px) {
                      width: 40px ;
                    }
                    .singlePostPlayerButton {

                      svg, img {
                        width: 50px;
                        height: 50px;
                      }
                    }
                  }
                  .hideMobile {
                      display: none;
                  }

                  .songInfo {

                    @media (min-width: 1000px) {
                      display: inline-block;
                      width: calc(100% - 75px);
                      padding-left: 5px;
                      height: 50px;
                      overflow: hidden;
                      pointer-events: all;
                    }
                  }
                  .songInfo.desktop {

                    @media (min-width: 800px) {
                      display: inline-block;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      max-width: 350px;
                      position: relative;
                    }
                    @media (max-width: 1200px) and (min-width: 1075px) {
                      max-width: 300px;
                    }
                    @media (max-width: 1075px) and (min-width: 800px) {
                      max-width: 250px;
                      height: 50px;
                    }
                    @media (max-width: 930px) and (min-width: 800px) {
                      max-width: 220px;
                    }
                    @media (max-width: 800px) {
                      display: none;
                    }

                    .songtitle {

                      .postTitleLink {

                        @media (max-width: 1000px) and (min-width: 800px) {
                          text-decoration: none;
                            color: black;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            height: 20px;
                            overflow-x: hidden;
                        }
                        @media (max-width: 1075px) and (min-width: 800px) {
                            font-size: 20px;
                        }
                        @media (min-width: 1000px) {

                        }
                      }

                      .spotify {
                          display: none;
                      }
                    }

                    .artist {

                      .artistName {

                        @media (min-width: 1000px) {
                          color: #000;
                          font-size: 20px;
                          line-height: 26px;
                          height: 30px;
                          max-height: 30px;
                        }
                        @media (max-width: 1000px) and (min-width: 800px) {
                          font-size: 16px;
                        }
                      }
                    }
                  }

                  .songInfo.mobile {
                    @media (min-width: 800px) {
                      display: none;
                    }
                    display:  inline-block;
                    vertical-align: top;
                    padding-left: 5px;
                    pointer-events: all;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding-top: 2px;
                    padding-bottom: 5px;
                    width: 100%;

                    .postTitleLink {
                      display: block;
                      text-decoration: none;
                      color: black;
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 20px;
                      max-height: 20px;
                      overflow-y: hidden;
                    }
                    .artistName {
                      line-height: 20px;
                      max-height: 20px;
                      overflow-y: hidden;
                      color: #000;
                      font-size: 16px;
                    }
                  }

                  .metaInfo {

                    @media (min-width: 1000px) {
                      margin-top: 5px;
                      height: 25px;
                      overflow-y: hidden;
                      margin-bottom: 5px;
                      pointer-events: all;
                    }

                    @media (max-width: 1000px) and (min-width: 800px) {
                      margin-top: 0px;
                      height: 60px;
                      overflow-y: hidden;
                      margin-bottom: 5px;
                      pointer-events: all;
                    }

                    @media (max-width: 800px) {
                      display: none;
                    }

                    .leftInfo {

                      @media (min-width: 1000px) {
                        display: inline-block;
                        margin: 0;
                        margin-bottom: 5px;
                        margin-right: 4px;
                      }

                      .postDate {
                          font-size: 14px;
                          line-height: 20px;
                      }
                    }
                    .leftInfo.mobile {
                        display: none;
                    }

                    .postTags {
                      display: inline-block;
                      margin: 0;
                      pointer-events: none;

                      .tag {
                        margin: 0 2px;
                        font-size: 10px;
                        border-radius: 6px;
                        -webkit-transition: all .2s ease;
                        transition: all .2s ease;
                        color: #fff;
                        background: #1a6ea9;
                        border: 1px solid #1a6ea9;
                        cursor: pointer;
                        letter-spacing: .7px;
                        box-shadow: 0 3px 2px -2px #C9C6CB;
                        padding: 5px;
                        font-family: 'Baloo', cursive;
                      }

                      @media (max-width: 800px) {
                        display: none;
                      }
                    }

                    .ShareBox {
                        display: none;
                    }
                  }
                }

                .bottomContentContainer  {

                  @media (max-width: 800px) {
                    display: none;
                  }

                  .songDescription {
                      position: relative;

                      @media (min-width: 800px) {
                        padding-bottom: 25px;
                      }
                      @media (min-width: 1000px) {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 24px;
                        height: 100px;
                        overflow: hidden;
                      }
                  }
                }
              }
            }
          }
        }

        .goToSongPage {

          @media (min-width: 800px) {
            display: none;
          }
          @media (max-width: 800px) {
            display: inline-block;
            width: 20%;
            height: 50px;
            vertical-align: top;
            position: relative;
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: black;
            z-index: 1;
            font-size: 16px;
          }
        }

        .seeMore {
          display: block;
          text-align: right;
          font-size: 12px;
          color: #000;
          letter-spacing: .5px;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          text-decoration: none;

          @media (max-width: 800px) {
            display: none;
          }
        }

        hr {
          @media (max-width: 800px) {
            display: none;
          }
        }

      }
    }
  }
