.genre-filters {

  &.hidden { display : none }

  .modal-overlay {
    position: fixed;
    // Better would be to sort out z-indexing and
    // just let the headers be above this
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
  }

  .modal-background-container {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100%;
    height: calc(100vh - 240px);
    z-index: 1;

    .modal-background {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      max-width: calc(1686px * 0.9);
      background-color: black;
      opacity: 0.85;
      border-radius: 10px;
    }
  }

  .genre-filter-content-container {
    // Doing this so modal opacity is not inherited by the contents
    position: fixed;
    top: 140px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 240px);

    .genre-filter-content {
      width: 90%;
      max-width: calc(1686px * 0.9);
      margin: 0 auto;
      margin-top: 30px;
      color: white;
      font-weight: bold;
      text-align: center;

      > div {
        margin: 20px 0;
      }

      .gf-button {
        cursor: pointer;
        display: inline-block;
        margin: 10px;
        background-color: #303030;
        box-shadow: 2px 2px 5px black;

        &.selected {
          background-color: white;
          color: black;
        }
        &.included {
          background-color: gray;
          color: black;
        }
      }

      .genres {
        .genre-header {
          font-size: 24pt;
        }
        .genre-button {
          border-radius: 5px;
          padding: 10px 12px;
        }
        .all-button {
          font-size: 16pt;
          border-radius: 5px;
          padding: 5px 20px;
          border: 1px solid gray;
        }
        &.all-selected {
          .all-button {
            border: 1px solid white;
          }
        }
      }

      .subgenres {
        max-width: 1100px;
        margin: 0 auto;

        .subgenre-header {
          font-size: 20pt;
          margin-top: 30px;
        }
        .clear-button {
          font-size: 12pt;
          border-radius: 15px;
          padding: 5px 10px;
          margin-left: 5px;
          color: gray;
        }
        .subgenre-group {
          display: inline-block;
          margin: 10px 15px;

          .subgenre-button {
            padding: 5px 10px;
            border-radius: 15px;
          }
        }
        &.any-selected {
          .clear-button {
            border: 1px solid white;
            color: white;
          }
        }
      }

      .submit-button {
        margin-top: 25px;
        padding: 12px 15px;
        border-radius: 5px;
      }

    }
  }

}
