.relatedSongs {
  width: 14%;
  display: inline-block;
  vertical-align: top;
  float: right;

  @media (max-width: 1200px) {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    float: none;
    padding-top: 10px;
    padding-bottom: 12px;
    // max-width: 674px;
    margin: 0 auto;
    display: block;
  }

  .relatedSongsContainer {
    p.related-songs-title {
      font-size: 14px;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-top: 15px;
      padding-bottom: 10px;
      margin-bottom: 1px;
      color: #fff;
      background: #1a6ea9;
      font-family: 'Object-Sans-Bold',sans-serif;

      @media (max-width: 1200px) {
        margin-bottom: 2px;
        font-size: 18px;
        letter-spacing: .7px;
      }
  }
  }

  .stack {
    width: 100%;
    display: inline-block;

    @media (max-width: 800px) {
      width: calc(100% - 2px);
      display: inline-block;
      margin: 0 auto 0 2px;
    }

    .songContainer {
        width: calc(50% - 2px);
        display: inline-block;
        margin: 1px;

        @media (max-width: 1200px) and (min-width: 800px) {
            max-width: calc(20% - 2px);
        }
        @media (max-width: 800px) {
                max-width: calc(33.3% - 2px);
        }


        img.songImage {
            max-width: 100%;
            margin: 0!important;
            border-radius: 0;
        }
    }
    .songContainer:nth-of-type(11) {
        display: none;
    }
    .songContainer:nth-of-type(10) {
        @media (max-width: 800px) {
          display: none;
        }
    }
  }


}
