.moments-modal.hidden {
  display: none; }

.moments-modal {
  width: 50vw;
  background: rgba(0, 0, 0, 0.9);
  margin-left: 315px;
  height: auto;
  padding: 15px;
  width: auto;
  color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'Object-Sans-Regular',sans-serif; }
  @media (max-width: 800px) {
    .moments-modal {
      margin: 0;
      width: 100vw;
      text-align: center;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px; } }
  .moments-modal .text {
    font-size: 12px;
    margin-bottom: 10px; }
  .moments-modal .comingSoon {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Object-Sans-Bold',sans-serif; }
