div#discovery-container.fullGridLayout .songGrid {
  display: none;
}

div#discovery-container.fullGridLayout .discover-full-song {
  display: none;
}

.discover-cover {
  display: none;
}

.discovery-section {
  position: relative;

  @media (min-width: 800px) {
    height: calc(100vh - 122px);
  }
  @media (max-width: 480px) {
    // margin-top: calc(100vw + 89px);
    margin-top: 49px;
    z-index: 900;
    background: #fff;
  }

  img.discover-cover {
    display: none;
  }

  .disableScroll {
    @media (min-width: 800px) {
      overflow: hidden;
    }
  }

  .discovery-container {

    @media (min-width: 800px) {
      background: #fafafa ;
      width: 100vw;
      max-height: calc(100vh - 135px);
      max-width: 1685px;
      height: calc(100vh - 75px);
      margin: 0 auto;
      overflow: auto;
    }

    @media (min-width: 800px) {
      height: calc(100vh - 50px);
    }
  }

  .songList {
    z-index: 890;
    height: 100%;
    overflow-y: scroll;

    // Hide scrollbar
    scrollbar-width: none;                /* Firefox */
    -ms-overflow-style: none;             /* IE 10+ */
    &::-webkit-scrollbar { width: 0px; }  /* Chrome + Safari */

    @media (min-width: 800px) {
      display: none;
      padding-bottom: 100px;
    }
    @media (max-width: 800px) {
      width: 100%;
      display: inline-block;
      background: #fff;
      vertical-align: top;
      padding-top: 15px;
      padding-bottom: 30px;
    }
  }
  .songList.fixedFiltersBarPadding {
    @media (max-width: 800px) and (min-width: 480px) {
      padding-top: 110px;
    }
    @media (max-width: 480px) {
      padding-top: 65px;
    }
  }

  .pagination-controls {
    padding: 15px 0;
    display: none !important;
  }
}
