// SNAP LIST LAYOUT
  .previewScrollLayout {
    .songList {

      @media (min-width: 800px) {
        display: block;
        max-width: 1400px;
        margin: 0 auto;
      }

      .songContainer {
        position: relative;

        @media (min-width: 800px) {
          width: calc(50% - 30px);
          padding: 15px;
          display: inline-block;
          max-width: 700px;
          margin: 0 auto;
        }

        @media (max-width: 800px) {
          display: inline-block;
          vertical-align: top;
          padding: 0;
          width: 100%;
          border-bottom: 1px solid #e0e0e0;
          margin: 5px 0;
        }

        .wrapper {

          @media (max-width: 800px) {
            width: calc(80% - 15px);
            display: inline-block;
            padding: 0 0 5px 15px;
            pointer-events: all;
            cursor: pointer;
          }

          .postContent {

            @media (min-width: 800px) {
              display: inline-block;
              width: 100%;
              height: 200px;
              overflow: hidden;
              max-height: 200px;
            }
            @media (max-width: 1000px) and (min-width: 800px) {
              height: auto;
            }

            @media (max-width: 800px) {
              display: inline-block;
              width: 100%;
              height: auto;
            }

            .imageContainer {
              display: inline-block;

              @media (min-width: 800px) {
                max-height: 200px;
                max-width: 200px;
                height: 12vw;
                width: 12vw;
                display: inline-block;
                vertical-align: top;
                padding-right: 15px;
              }

              @media (max-width: 800px) {
                max-width: 50px;
                height: 50px;
                width: 50px;
                display: inline-block;
                vertical-align: top;
                padding-right: 5px;
                position: relative;
              }

              .song-hover-link {
                display: none;
              }

              img.songImage {

                @media (min-width: 800px) {
                  max-height: 200px;
                  height: 100%;
                  width: 100%;
                  border-radius: 4px;
                }
                @media (max-width: 800px) {
                  border-radius: 2px;
                  height: 50px;
                  width: 50px;
                  max-width: 50px;
                  margin-left: 0px;
                }
              }
              .songImageInfoContainer {
                display: none;
              }
            }

            .topContentContainer {
              display: inline-block;

              @media (min-width: 800px) {
                display: inline-block;
                width: calc(100% - 12vw - 15px);
                vertical-align: top;
                height: auto;
              }
              @media (max-width: 800px) {
                width: 80%;
              }

              .postInfoContainer {

                .singlePostPlayer {

                  @media (min-width:800px) {
                    display: inline-block;
                    text-align: left;
                    vertical-align: top;
                    height: 50px;
                  }

                  .singlePostPlayerButton {
                    // padding: 2.5px;
                    padding: 2.5px 5px 2.5px 0;

                    svg, img {
                      width: 45px;
                      height: 45px;
                    }
                  }
                }
                .hideMobile {
                  @media (max-width: 800px) {
                    display: none;
                  }
                }

                .songInfo {

                  @media (max-width: 800px) {
                    display: inline-block;
                    width: calc(100% - 75px);
                    overflow: hidden;
                    pointer-events: all;
                  }
                }
                .songInfo.desktop {


                  @media (min-width: 800px) {
                    display: inline-block !important;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    width: calc(100% - 60px);
                    position: relative;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                        padding: 4px 0 4px 0;
                  }
                  @media (max-width: 1200px) and (min-width: 1075px) {
                    // max-width: 300px;
                  }
                  @media (max-width: 1075px) and (min-width: 800px) {
                    // max-width: 250px;
                  }
                  @media (max-width: 930px) and (min-width: 800px) {
                    // max-width: 220px;
                  }
                  @media (max-width: 800px) {
                    display: none;
                  }

                  .songtitle {
                    height: 20px;
                    margin-bottom: 2px;

                    .postTitleLink {

                      @media (min-width: 800px) {
                        text-decoration: none;
                          color: black;
                          font-weight: 700;
                          font-size: 20px;
                          line-height: 23px;
                          margin-bottom: 2px;
                          display: inline-block;
                          width: 100%;
                          max-width: 100%;
                          width: auto;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          overflow: hidden;
                      }

                    }

                    .spotify {
                        display: none;
                    }
                  }

                  .artist {
                    height: 20px;
                    width: 100%;

                    .artistName {

                      @media (min-width: 800px) {
                        color: #000;
                        font-size: 20px;
                        line-height: 20px;
                      }
                    }
                  }
                }

                .songInfo.mobile {
                  @media (min-width: 800px) {
                    display: none;
                  }
                  display:  inline-block;
                  vertical-align: top;
                  pointer-events: all;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  width: 100%;
                  padding: 6px 0 4px;

                  .postTitleLink {
                    display: block;
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    max-height: 20px;
                    pointer-events: none;
                    max-width: 100%;
                    width: auto;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                  .artistName {
                    line-height: 20px;
                    max-height: 20px;
                    color: #000;
                    font-size: 16px;
                    max-width: 100%;
                    width: auto;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }

                .metaInfo {
                  margin: 2px 0;

                  @media (max-width: 800px) {
                    display: none;
                  }

                  .leftInfo {

                    @media (min-width: 800px) {
                      display: inline-block;
                      margin: 0;
                      margin-right: 4px;
                    }

                    span.separater {
                        transform: translateY(-1px);
                        display: inline-block;
                    }

                    .curatorName {
                      font-weight: bold;
                    }
                  }
                  .leftInfo.mobile {
                      display: none;
                  }

                  .postTags {
                    display: inline-block;
                    margin: 0;
                    position: relative;
                    transform: translateY(-2px);

                    .tag {
                      margin: 0 2px;
                      font-size: 11px;
                      border-radius: 4px;
                      -webkit-transition: all .2s ease;
                      transition: all .2s ease;
                      color: #fff;
                      background: #1a6ea9;
                      border: 1px solid #1a6ea9;
                      cursor: pointer;
                      letter-spacing: .7px;
                      box-shadow: 0 3px 2px -2px #C9C6CB;
                      padding: 2px 4px;
                      // font-weight: bold;
                      font-family: 'Baloo', cursive;
                    }

                     span.tag:nth-of-type(3), .postTags span.tag:nth-of-type(4), .postTags span.tag:nth-of-type(5) {
                      display: none;
                    }
                    .tag:nth-of-type(2) {
                      @media (max-width: 1100px) and (min-width: 800px) {
                        display: none;
                      }
                    }

                    @media (max-width: 800px) {
                      display: none;
                    }
                  }

                  .ShareBox {
                      display: none;
                  }
                }
              }

              .bottomContentContainer  {
                padding-top: 3px;
                padding-bottom: 0;

                @media (max-width: 800px) {
                  display: none;
                }

                .songDescription {
                    position: relative;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: 'Open Sans', sans-serif;
                    height: 100px;
                    overflow: hidden;
                    padding-bottom: 25px;

                    @media (max-width: 1000px) and (min-width: 800px) {
                      font-size: 12px;
                      line-height: 22px;
                      padding-bottom: 10px;
                    }
                }
                p.songDescription::after {
                  content: ' ';
                  height: 24px;
                  width: 100%;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  background: #fafafa;
                  opacity: .8;
              }
              }
            }
          }
        }

        .goToSongPage {

          @media (min-width: 800px) {
            display: none;
          }
          @media (max-width: 800px) {
            display: inline-block;
            width: 20%;
            height: 50px;
            vertical-align: top;
            position: relative;
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: black;
            z-index: 1;
            font-size: 16px;
          }
        }

        .seeMore {
          display: block;
          text-align: right;
          font-size: 12px;
          color: #000;
          letter-spacing: .5px;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          text-decoration: none;

          @media (max-width: 800px) {
            display: none;
          }

          i {
            font-size: 12px;
            vertical-align: bottom;
            margin-left: 2px;
          }
        }
        .seeMore:hover {
            color: #1a6ea9;
            text-decoration: underline;
        }

        hr {
          @media (max-width: 800px) {
            display: none;
          }
        }

      }
    }
  }
