.genre-badge {
  color: white; }
  .genre-badge.subgenre-badge {
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 14px;
    border: 1px solid #303030;
    font-family: 'Object-Sans-Regular',sans-serif; }
    @media (max-width: 800px) {
      .genre-badge.subgenre-badge {
        font-size: 10px; } }
    @media (min-width: 800px) {
      .genre-badge.subgenre-badge:hover {
        border: 1px solid #fff;
        opacity: 1 !important; } }
  .genre-badge.electronic {
    background: linear-gradient(to right, #1e0c49, #0097d5); }
  .genre-badge.chill {
    background: linear-gradient(to left, #39EF6C, #011403); }
  .genre-badge.hiphop {
    background: #000; }
  .genre-badge.funk {
    background: linear-gradient(to right, #3023AE, #DB00FF); }
  .genre-badge.soul {
    background: linear-gradient(to right, #3023AE, #ED1936); }
  .genre-badge.rock {
    background: linear-gradient(to right, #0E018E, #C86DD7); }
  .genre-badge.triphop {
    background: linear-gradient(to right, #000000, #6B1CF7); }
  .genre-badge.remix {
    background: linear-gradient(to left, #1e0c49, #0097d5); }
  .genre-badge.world {
    background: linear-gradient(to right, #FF0000, #F76B1C); }
