.songImageInfoContainer {
  display: none; }

.discovery-container .discover-full-song .songContainer br {
  height: 18px !important;
  display: block;
  content: ""; }

.leftInfo.mobile {
  display: none; }

@media (max-width: 800px) {
  .leftInfo.mobile {
    display: inline-block; }
  .leftInfo.desktop {
    display: none; } }

.goToSongPage {
  display: none; }

.carousel {
  overflow: visible;
  position: relative;
  margin: 0; }
  .carousel * {
    box-sizing: border-box; }
  .carousel button.control-arrow {
    display: none; }
  .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height .15s ease-in;
    transition: height .15s ease-in; }
    .carousel .slider-wrapper .slider {
      margin: 0;
      padding: 0;
      position: relative;
      list-style: none;
      width: 100%; }
      .carousel .slider-wrapper .slider .slide {
        flex-direction: column;
        flex-flow: column;
        min-width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        background: transparent; }
    .carousel .slider-wrapper .slider.animated {
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out; }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden; } }

.grid-container .carousel.carousel-slider .control-arrow {
  transition: all .25s ease-in;
  opacity: 1;
  position: absolute;
  z-index: 2;
  top: 20px;
  background: #282828;
  border: 0;
  font-size: 32px;
  cursor: pointer; }

.grid-container .carousel .control-disabled.control-arrow {
  opacity: 0;
  cursor: inherit;
  display: inline-block; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */ }

body {
  overflow: scroll;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/* optional: show position indicator in red */
body::-webkit-scrollbar-thumb {
  background: #FF0000; }

.pause-main {
  width: 35px;
  height: 35px; }

.search-wrapper {
  display: none !important; }

@media (min-width: 480px) and (max-width: 800px) {
  .fixedFiltersBarPadding {
    padding-top: 110px !important; } }

@media (max-width: 480px) {
  .fixedFiltersBarPadding {
    padding-top: 65px !important; } }

body {
  padding-bottom: 50px !important; }

@media (max-width: 480px) {
  body {
    padding-bottom: 40px !important; } }

.songsContainer {
  background: #fff; }

p {
  margin: 0; }

.page {
  max-width: 1685px;
  margin: 0px auto;
  background: #fff; }

.loading-bottom {
  height: 80px;
  position: relative;
  margin-bottom: 100px;
  margin-top: -80px; }
  .loading-bottom .spinner {
    top: 0;
    height: 60px; }

@media screen and (max-width: 480px) {
  .headerContainer {
    height: 70px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 2000; }
  .socialLinks {
    position: fixed;
    width: 100%;
    margin-top: 0;
    z-index: 3 !important;
    top: 70px; } }

body {
  margin: 0;
  padding: 0; }

.tag.selected {
  background: #1a6ea9;
  color: #fff !important; }

a.shareButton img {
  transition: all .3s ease;
  max-width: 20px; }

a.shareButton:hover img {
  opacity: .7; }

a.spotifyLink {
  /* margin-left: 10px; */
  font-size: 45px;
  color: #6AE368;
  transition: all .3s ease;
  margin-top: -5px; }
  a.spotifyLink i {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px); }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.playButton, .pauseButton {
  transition: all 0.3s ease;
  width: 50px;
  height: 50px; }

@media (min-width: 800px) {
  .songList {
    display: none; }
  .disableScroll {
    overflow: hidden !important; } }

@media (max-width: 800px) {
  img.main.playButton {
    max-width: 40px !important;
    max-height: 40px !important; } }

button {
  padding: 0;
  border: 0;
  background: none;
  border-color: none;
  border-style: none;
  border-width: 0px;
  background: none; }
  button:focus {
    outline: none !important; }

.songContainer .tag:nth-of-type(3) {
  display: none; }

.postTags span.tag:nth-of-type(3) {
  display: none; }

.postTags span.tag:nth-of-type(4) {
  display: none; }

.postTags span.tag:nth-of-type(5) {
  display: none; }

@media (max-width: 800px) {
  .postTags span.tag:nth-of-type(2) {
    display: none !important; }
  .postTags span.tag:nth-of-type(3) {
    display: none; }
  .postTags span.tag:nth-of-type(4) {
    display: none; }
  .postTags span.tag:nth-of-type(5) {
    display: none; } }

.discover-full-song .songContainer .spotify:hover {
  cursor: pointer;
  filter: brightness(0.9); }

@media (min-width: 800px) {
  .seeMore {
    display: none; } }

span.postTags:nth-of-type(3) {
  display: none !important; }

.discovery-container::-webkit-scrollbar {
  display: none; }

@media (max-width: 800px) {
  .ss-sharebox-desktop {
    display: none !important; }
  .heroHoverGradient {
    display: none !important; }
  .leftInfo.desktop {
    display: none !important; }
  .leftInfo.mobile {
    display: inline-block !important; } }

.discover-full-song .songContainer .spotify {
  pointer-events: all; }

.songGridPlaceholderWrapper {
  height: 100%;
  width: 100%;
  text-align: center; }
  .songGridPlaceholderWrapper .placeholderImage {
    width: 8vw;
    height: 8vw;
    display: inline-block;
    margin: 0;
    margin-top: -3px;
    cursor: pointer;
    border: 1px solid #fff !important;
    animation: pulse 1s infinite ease-in-out;
    background: rgba(165, 165, 165, 0.1); }

a.nav-link {
  background: rgba(255, 255, 255, 0);
  border: 0px solid #fff !important;
  border-radius: 0 !important; }

a.nav-link.is-active {
  background: rgba(255, 255, 255, 0);
  color: #fff !important;
  border: 0px solid #fff;
  border-bottom: 1px solid #fff !important; }

a.nav-link.is-active.submit {
  border-bottom: 0px solid #fff !important; }

@media (min-width: 800px) {
  .bottomContentContainer {
    max-height: none;
    pointer-events: all; }
  .disableScroll .bottomContentContainer {
    pointer-events: none; } }

ul.control-dots {
  bottom: -30px !important;
  padding-left: 0 !important;
  margin: 0 auto;
  width: 150px;
  left: 50%;
  transform: translateX(-50%); }
  ul.control-dots .dot {
    background: #000 !important; }

.discover-full-song ul.control-dots {
  display: none; }

@media (max-width: 800px) {
  p.goToPage, .ToggleViewsWrapper {
    display: none; } }

@media (max-width: 800px) {
  p.goToPage, .ToggleViewsWrapper, .hover-content {
    display: none; } }

.msg-alert {
  margin-top: 10px;
  position: absolute;
  text-align: center; }

.social-container.mobile-social {
  display: none; }

.social-container {
  width: 100%;
  margin-top: 35px;
  position: absolute; }
  .social-container ul {
    padding: 0;
    list-style: none;
    margin: 0 !important;
    text-align: center !important; }
    .social-container ul li {
      display: inline-block;
      width: 20%;
      text-align: center !important; }
      .social-container ul li img {
        width: 60%;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
        transition: all .3s ease; }
      .social-container ul li :hover {
        box-shadow: none;
        cursor: pointer; }

.discovery-container .songContainer .hover-content {
  display: none; }

.discovery-container .songContainer .heroHoverGradient {
  display: none; }

.socialLinks {
  z-index: 2;
  position: relative; }

.connectPage .intro {
  min-height: calc(100vh - 75px - 75px - 45px);
  position: relative;
  background: #fafafa !important; }
  .connectPage .intro img.intro1Image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    bottom: -360px; }
  .connectPage .intro img.logo1 {
    position: absolute;
    z-index: 6;
    width: 900px;
    bottom: -60px;
    left: -200px;
    display: none; }
  .connectPage .intro .intro-pic {
    position: absolute;
    border: 2px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px !important;
    height: 300px;
    width: 300px; }
  .connectPage .intro img.color {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 1200px; }
  .connectPage .intro img.colorbottom2 {
    position: absolute;
    height: 344px;
    left: 350px;
    bottom: 0;
    z-index: 4; }

form.rwt-email-form {
  margin-top: 15px; }

form.rwt-email-form input {
  height: 50px;
  border: none;
  width: 69%; }

form.rwt-email-form button {
  height: 50px;
  border: 1px solid black;
  width: 30%;
  color: #fff;
  background: #1a6ea9;
  border: 1px solid #1a6ea9;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px; }

.main-content {
  position: relative;
  background: rgba(0, 0, 0, 0) !important;
  background: linear-gradient(-193deg, rgba(255, 255, 255, 0) 25%, #fafafa 25%) !important;
  padding-bottom: 475px; }
  .main-content img.diagblue {
    position: absolute; }
  .main-content img.logo2 {
    position: absolute;
    position: absolute;
    z-index: 2;
    width: 900px;
    bottom: -60px;
    right: -200px; }
  .main-content img.color2 {
    transform: rotate(180deg);
    width: 650px;
    position: absolute;
    left: 0;
    bottom: 315px;
    z-index: 48; }
  .main-content img.diagblue.cover {
    z-index: 45; }
  .main-content img.color.bottom {
    top: 50px !important; }
  .main-content .middle-content {
    margin: 0 auto;
    width: 1150px;
    padding-top: 20px; }
  .main-content .four-content {
    margin-left: 25px;
    position: relative;
    z-index: 499;
    vertical-align: top;
    padding-top: 120px; }
    .main-content .four-content h3 {
      font-size: 40px;
      color: #000;
      font-weight: 700;
      margin-top: 25px;
      line-height: 50px;
      text-align: left;
      margin-bottom: 8px; }
    .main-content .four-content p {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400 !important;
      font-family: Open-Sans,sans-serif; }
    .main-content .four-content p.mission-tagline {
      margin-bottom: 10px; }
    .main-content .four-content p.email-text {
      margin-top: 10px; }
  .main-content .gridPic {
    max-width: 600px;
    z-index: 499;
    position: relative;
    margin-right: 25px; }

.blue-content {
  height: 1030px;
  width: 100%;
  position: relative;
  margin-top: -475px; }
  .blue-content br.mobile-br {
    display: none; }
  .blue-content img.diagblue {
    position: absolute;
    top: 0; }
  .blue-content .blue-content-container {
    max-width: 705px;
    padding: 100px 100px;
    padding-left: 60px;
    position: relative;
    z-index: 1;
    padding-top: 250px; }
    .blue-content .blue-content-container p {
      color: #fff;
      font-size: 24px;
      line-height: 34px;
      max-width: 515px;
      font-family: Open-Sans,sans-serif; }
    .blue-content .blue-content-container h1.blue-title {
      color: #fff;
      font-size: 40px;
      line-height: 50px;
      text-transform: uppercase; }

@media (max-width: 1250px) {
  .blue-content .blue-content-container p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    max-width: 515px; }
  .blue-content .blue-content-container h1.blue-title {
    color: #fff;
    font-size: 36px;
    line-height: 46px; } }

@media (max-width: 1050px) {
  .blue-content .blue-content-container p {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    max-width: 515px; }
  .blue-content .blue-content-container h1.blue-title {
    color: #fff;
    font-size: 40px;
    line-height: 50px; } }

@media (max-width: 900px) {
  .blue-content .blue-content-container {
    max-width: 635px;
    padding: 250px 0px 100px 0;
    margin: 0 auto; }
    .blue-content .blue-content-container p {
      color: #fff;
      font-size: 24px;
      line-height: 34px;
      max-width: none; }
    .blue-content .blue-content-container h1.blue-title {
      color: #fff;
      font-size: 36px;
      line-height: 46px; } }

@media (max-width: 700px) {
  .blue-content br.mobile-br {
    display: block; }
  .blue-content .blue-content-container {
    max-width: 550px;
    padding: 250px 30px 100px 30px;
    margin: 0 auto; }
    .blue-content .blue-content-container p {
      color: #fff;
      font-size: 24px;
      line-height: 34px;
      max-width: 600px; }
    .blue-content .blue-content-container h1.blue-title {
      color: #fff;
      font-size: 38px;
      line-height: 48px; } }

@media (max-width: 550px) {
  .blue-content .blue-content-container {
    padding: 200px 30px 100px 30px; }
    .blue-content .blue-content-container p {
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      max-width: 600px; }
    .blue-content .blue-content-container h1.blue-title {
      color: #fff;
      font-size: 36px;
      line-height: 46px; } }

@media (max-width: 480px) {
  .blue-content {
    height: 650px; }
    .blue-content img.diagblue {
      width: 1000px; }
    .blue-content .blue-content-container {
      padding: 100px 30px 100px 30px; }
      .blue-content .blue-content-container p {
        color: #fff;
        font-size: 17px;
        line-height: 30px;
        max-width: 600px; }
      .blue-content .blue-content-container h1.blue-title {
        color: #fff;
        font-size: 26px;
        line-height: 36px;
        margin: 0 auto;
        margin-bottom: 20px; } }

.connectPage .missionContainer .content {
  max-width: 500px; }
  .connectPage .missionContainer .content h3 {
    font-size: 40px;
    color: #000;
    font-weight: 700;
    margin-top: 0;
    line-height: 45px;
    text-align: left; }

.connectPage .emailContainer form.rwt-email-form {
  max-width: 300px;
  margin: 0 auto;
  overflow-x: hidden;
  border-width: 0 !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); }

.main-content h3 {
  font-size: 40px;
  color: #000;
  font-weight: 700;
  margin-top: 0;
  line-height: 45px;
  text-align: left;
  display: inline-block; }

.four-content {
  max-width: 500px;
  display: inline-block; }

.main-content img.cross {
  height: 250px;
  display: inline-block;
  vertical-align: top; }

.connectPage {
  overflow-x: hidden !important; }
  .connectPage .intro img.color.bottom {
    z-index: 5; }
  .connectPage .intro img.colorbottom2 {
    position: absolute;
    height: auto;
    left: 350px;
    bottom: -250px;
    z-index: 4;
    width: 630px; }
  .connectPage img.color.bottomMiddle {
    position: absolute;
    top: -200px;
    right: 0;
    width: 800px; }
  .connectPage .intro img.logo1 {
    position: absolute;
    z-index: 4;
    width: 1200px;
    bottom: -222px;
    left: -200px; }

@media (max-width: 1250px) {
  .connectPage img.color2 {
    width: 450px; }
  .connectPage img.color.bottomMiddle {
    position: absolute;
    top: -60px;
    right: 0;
    width: 500px; }
  .connectPage .middle-content {
    max-width: 950px;
    padding-top: 50px; }
    .connectPage .middle-content .gridPic {
      max-width: 500px; }
    .connectPage .middle-content .four-content {
      max-width: 400px;
      display: inline-block;
      transform: translateY(0px); }
      .connectPage .middle-content .four-content p {
        font-size: 18px;
        line-height: 28px; }
      .connectPage .middle-content .four-content h3 {
        font-size: 36px;
        color: #000;
        font-weight: 700;
        margin-top: 25px;
        line-height: 46px;
        text-align: left;
        margin-bottom: 8px; }
  .connectPage .form-input button.submit-btn {
    width: 27%; } }

@media (max-width: 1050px) {
  .connectPage .main-content {
    background: #fafafa !important; }
  .connectPage .middle-content {
    max-width: 100%; }
    .connectPage .middle-content .gridPic {
      display: none; }
    .connectPage .middle-content .four-content {
      display: block;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      max-width: none;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 60px;
      padding-bottom: 60px;
      width: 100%;
      margin: 0 auto; }
      .connectPage .middle-content .four-content p {
        max-width: 500px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 34px;
        text-align: center; }
      .connectPage .middle-content .four-content form.form-input {
        margin-top: 15px;
        max-width: 500px;
        margin: 15px auto; }
      .connectPage .middle-content .four-content p.email-text {
        max-width: 450px; }
      .connectPage .middle-content .four-content hr {
        max-width: 400px;
        margin: 15px auto; }
      .connectPage .middle-content .four-content h3 {
        font-size: 50px;
        color: #000;
        font-weight: 700;
        margin-top: 25px;
        line-height: 60px;
        text-align: left;
        margin-bottom: 8px;
        width: 100%;
        text-align: center; }
      .connectPage .middle-content .four-content .social-container.mobile-social {
        display: block; }
      .connectPage .middle-content .four-content .social-container.desktop-social {
        display: none !important; }
      .connectPage .middle-content .four-content .social-container {
        width: 100%;
        margin-top: 25px;
        max-width: 500px;
        margin: 25px auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 15px); }
        .connectPage .middle-content .four-content .social-container ul {
          margin-bottom: 10px !important; }
          .connectPage .middle-content .four-content .social-container ul li {
            width: 20% !important; }
  .connectPage img.color.bottomMiddle {
    position: absolute;
    top: -35px;
    right: 0;
    width: 500px; }
  .connectPage img.color2 {
    width: 500px;
    bottom: 385px; } }

.logoWriting {
  max-width: 500px;
  margin: 15px 0 10px; }

.emailContainer h3.tagline {
  color: #fff;
  font-size: 30px;
  line-height: 40px; }

.emailContainer .email p {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px; }

@media (max-width: 915px) {
  img.color.bottomMiddle, img.color2 {
    opacity: .5; } }

@media (max-width: 650px) {
  img.color.bottomMiddle, img.color2 {
    opacity: .4;
    width: 350px !important; }
  .connectPage .four-content {
    display: block;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    margin: 0 auto; }
    .connectPage .four-content p {
      max-width: 400px !important;
      margin: 0 auto;
      font-size: 20px !important;
      line-height: 30px !important;
      text-align: center; }
    .connectPage .four-content form.form-input {
      margin-top: 15px;
      max-width: 400px;
      margin: 15px auto; }
    .connectPage .four-content p.email-text {
      max-width: 350px !important; }
    .connectPage .four-content hr {
      max-width: 400px;
      margin: 15px auto; }
    .connectPage .four-content h3 {
      font-size: 40px !important;
      color: #000;
      font-weight: 700;
      margin-top: 25px;
      line-height: 50px !important;
      text-align: left;
      margin-bottom: 8px;
      width: 100%;
      text-align: center; }
    .connectPage .four-content .social-container {
      width: 100%;
      margin-top: 25px;
      max-width: 400px;
      margin: 25px auto; }
  .connectPage .middle-content .four-content form.form-input {
    margin-top: 15px;
    max-width: 400px;
    margin: 15px auto; }
  .connectPage .middle-content .four-content .social-container {
    max-width: 400px; } }

@media (max-width: 500px) {
  .connectPage .middle-content .four-content form.form-input {
    max-width: 350px; }
    .connectPage .middle-content .four-content form.form-input input {
      height: 35px;
      width: 100%;
      border: 1px solid #0097d5;
      padding: 0px;
      border-right: 1px solid #0097d5;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0px;
      text-align: center; }
    .connectPage .middle-content .four-content form.form-input button.submit-btn {
      height: 35px;
      width: 100%;
      padding: 0 5px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 0px;
      margin-top: -1px;
      transform: translateX(1px); }
  .blue-content {
    z-index: 50; } }

@media screen and (max-width: 480px) {
  .connectPage .middle-content .four-content .social-container ul li {
    width: 17% !important; }
  .connectPage .middle-content .social-container {
    width: 100%;
    margin-top: 10px;
    max-width: 500px;
    margin: 10px auto !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px) !important; }
    .connectPage .middle-content .social-container ul {
      margin-bottom: 10px !important; }
      .connectPage .middle-content .social-container ul li {
        width: 20% !important; }
  .connectPage .main-content {
    background: #fafafa !important;
    padding-top: 35px; }
  .connectPage .middle-content {
    padding-top: 0px; }
    .connectPage .middle-content .four-content h3 {
      margin-top: 0;
      font-size: 26px !important;
      line-height: 36px !important;
      margin-bottom: 10px; }
    .connectPage .middle-content .four-content p.mission-tagline {
      padding: 0 15px;
      font-size: 18px !important;
      line-height: 28px !important;
      max-width: 400px !important;
      text-align: center !important; }
    .connectPage .middle-content .four-content p.email-text {
      max-width: 350px !important;
      padding: 0 15px;
      font-size: 16px !important;
      line-height: 26px !important; }
    .connectPage .middle-content .four-content hr {
      max-width: 250px;
      margin: 10px auto; }
    .connectPage .middle-content form.form-input {
      margin-top: 20px !important; }
      .connectPage .middle-content form.form-input input {
        text-align: center;
        font-size: 14px; }
      .connectPage .middle-content form.form-input button.submit-btn {
        font-size: 14px; }
  .connectPage .middle-content .four-content {
    padding-top: 0; } }

@media only screen and (max-width: 480px) {
  .connectPage .main-content {
    padding-top: 60px !important; }
  .connectPage .middle-content .four-content p.mission-tagline {
    font-size: 17px !important;
    line-height: 27px !important; }
  .connectPage .middle-content .four-content p.email-text {
    max-width: 330px !important; }
  .connectPage img.color.bottomMiddle {
    position: absolute;
    top: 200px !important;
    right: -145px !important;
    width: 370px !important;
    transform: rotate(99deg) !important; } }

.socialLinks.hide {
  display: none; }

@media screen and (max-width: 480px) {
  .headerContainer {
    height: 50px !important; }
    .headerContainer #headerLogoMobile {
      width: 100px !important; }
      .headerContainer #headerLogoMobile img {
        width: 100px !important;
        padding-top: 4px; }
  .socialLinks {
    top: 50px; }
  .headerContainer {
    box-shadow: none !important; }
  .hover-content {
    display: none !important; }
  .singleSongPage.page .singleSongContainer {
    margin-top: 95px !important; } }

@media screen and (max-width: 480px) and (min-width: 800px) {
  .singleSongPage {
    padding: 0 25px; } }

@media (max-width: 800px) {
  div#discovery-container.disableScroll {
    overflow: visible !important; } }

@media (min-width: 800px) and (max-width: 1200px) {
  .singleSongPage .relatedSongs .songContainer {
    max-width: calc(20% - 2px) !important; } }

@media (max-width: 800px) {
  .song-hover-link {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: auto; } }
