@font-face {
  font-family: 'Object-Sans-Light';
  font-style: normal;
  font-weight: 100;
  src: local('Object Sans Light'), local('ObjectSansLight'),
       url('/static/fonts/object-sans/light/ObjectSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/object-sans/light/ObjectSans-Light.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/object-sans/light/ObjectSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Object-Sans-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Object Sans Regular'), local('ObjectSansRegular'),
       url('/static/fonts/object-sans/regular/ObjectSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/object-sans/regular/ObjectSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/object-sans/regular/ObjectSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Object-Sans-Bold';
  font-style: bold;
  font-weight: 600;
  src: url('/static/fonts/object-sans/bold/ObjectSans-Bold.eot'); /* IE9 Compat Modes */
  src: local('Object Sans Bold'), local('ObjectSansBold'),
       url('/static/fonts/object-sans/bold/ObjectSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/object-sans/bold/ObjectSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/object-sans/bold/ObjectSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Object-Sans-Heavy';
  font-style: bold;
  font-weight: 700;
  src: local('Object Sans Heavy'), local('ObjectSansHeavy'),
       url('/static/fonts/object-sans/heavy/ObjectSans-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/object-sans/heavy/ObjectSans-Heavy.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/object-sans/heavy/ObjectSans-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Object-Sans-Black';
  font-style: bold;
  font-weight: 800;
  src: local('Object Sans Black'), local('ObjectSansBlack'),
       url('/static/fonts/object-sans/black/ObjectSans-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/object-sans/black/ObjectSans-Black.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/object-sans/black/ObjectSans-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}
body {
  font-family: 'Object-Sans-Regular';
  margin: 0;
  padding: 0;
  border: 0;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: ${this.state.isScrollDisabled ? 'hidden' : 'auto'};
  min-width: 320px;
}
