.CoachellaPage {
  margin-top: 75px !important;
  padding: 15px; }
  .CoachellaPage h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Object-Sans-Heavy',sans-serif;
    text-align: center;
    margin-bottom: 10px; }
  .CoachellaPage p {
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Object-Sans-Regular',sans-serif;
    max-width: 480px;
    margin: 0 auto; }
  .CoachellaPage p.disclaimer {
    font-size: 10px;
    margin-top: 10px; }
