.hero-posts {
  width: 100vw;
  white-space: nowrap;
  max-height: 674px;
  max-width: 1685px;
  height: calc(40vw - 3px);
  margin: 0 auto;
  padding-bottom: 0px;
  background: #fff; }
  @media screen and (max-width: 1200px) {
    .hero-posts {
      height: calc(50vw - 2px); } }
  @media screen and (max-width: 800px) {
    .hero-posts {
      max-height: 650px !important;
      max-width: 650px !important;
      height: 100vw !important;
      overflow: visible !important;
      position: relative; } }
  @media screen and (max-width: 480px) {
    .hero-posts {
      width: 100vw;
      max-height: 650px !important;
      max-width: 650px !important;
      position: fixed;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
      top: 90px;
      z-index: 3 !important; } }
  .hero-posts .featured-track-wrapper {
    width: 40vw;
    height: 40vw;
    display: inline-block;
    max-height: 674px;
    max-width: 674px;
    z-index: 100; }
    @media screen and (max-width: 1200px) {
      .hero-posts .featured-track-wrapper {
        width: 50vw;
        height: 50vw; } }
    @media screen and (max-width: 800px) {
      .hero-posts .featured-track-wrapper {
        width: 66.666%;
        height: 66.666%;
        position: absolute;
        left: 0; } }
    .hero-posts .featured-track-wrapper .feature-track {
      position: relative;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      -webkit-filter: brightness(1);
      filter: brightness(1); }
      .hero-posts .featured-track-wrapper .feature-track img {
        position: relative;
        height: 100%;
        width: 100%; }
      .hero-posts .featured-track-wrapper .feature-track .post-info {
        height: 80px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        transition: all 0s linear;
        z-index: 102; }
        @media screen and (max-width: 800px) {
          .hero-posts .featured-track-wrapper .feature-track .post-info {
            height: 70px; } }
        @media screen and (max-width: 650px) {
          .hero-posts .featured-track-wrapper .feature-track .post-info {
            height: 56px; } }
        @media screen and (max-width: 480px) {
          .hero-posts .featured-track-wrapper .feature-track .post-info {
            height: 40px; } }
        .hero-posts .featured-track-wrapper .feature-track .post-info .song-info {
          width: calc(100% - 160px);
          margin-left: 80px;
          display: inline-block;
          padding: 8px 0 8px;
          transform: translateX(-1.6px); }
          @media (max-width: 800px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .song-info {
              width: calc(100% - 150px); } }
          @media screen and (max-width: 650px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .song-info {
              width: calc(100% - 116px);
              margin-left: 60px;
              padding: 3px 0; } }
          @media (max-width: 480px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .song-info {
              width: calc(100% - 80px);
              margin-left: 40px;
              padding: 5px 0 2px; } }
          .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-title {
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
            color: #000;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 4px; }
            @media screen and (max-width: 800px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-title {
                font-size: 25px;
                line-height: 25px; } }
            @media screen and (max-width: 650px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-title {
                font-size: 20px;
                line-height: 20px; } }
            @media screen and (max-width: 480px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-title {
                font-size: 15px;
                line-height: 15px; } }
          .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-artist {
            font-size: 30px;
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-height: 40px;
            overflow-x: hidden;
            font-weight: 400;
            color: #000; }
            @media screen and (max-width: 800px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-artist {
                font-size: 25px;
                line-height: 25px;
                margin-top: 5px; } }
            @media screen and (max-width: 650px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-artist {
                font-size: 20px;
                line-height: 20px; } }
            @media screen and (max-width: 480px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .song-info .song-artist {
                font-size: 15px;
                line-height: 15px;
                margin-top: 2px; } }
        .hero-posts .featured-track-wrapper .feature-track .post-info .song-of-day-tag {
          position: absolute;
          top: -43px;
          display: inline-block;
          background: rgba(236, 33, 33, 0.8);
          color: #fff !important;
          left: 0;
          font-size: 20px;
          letter-spacing: 5px;
          text-transform: uppercase;
          border-top-right-radius: 6px;
          padding: 10px 10px 10px 12px;
          font-weight: 700; }
          @media screen and (max-width: 800px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .song-of-day-tag {
              top: -28px;
              font-size: 14px;
              padding: 6px; } }
          @media screen and (max-width: 650px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .song-of-day-tag {
              top: -28px;
              font-size: 14px; } }
          @media screen and (max-width: 480px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .song-of-day-tag {
              top: -21px;
              font-size: 10px;
              padding: 5px; } }
        .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper {
          display: inline-block;
          color: #fff;
          text-align: center;
          vertical-align: top; }
        .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play {
          left: 0;
          float: none !important;
          top: 50% !important;
          position: absolute;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          width: 80px;
          height: 80px; }
          @media screen and (max-width: 800px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play {
              width: 70px;
              height: 70px; } }
          @media screen and (max-width: 650px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play {
              width: 56px;
              height: 56px; } }
          @media screen and (max-width: 480px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play {
              width: 40px;
              height: 40px; } }
          .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play .heroSongPlayerButton {
            width: 100%;
            height: 100%;
            padding: 10px; }
            @media screen and (max-width: 800px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play .heroSongPlayerButton {
                padding: 6px; } }
            @media screen and (max-width: 480px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play .heroSongPlayerButton {
                padding: 5px; } }
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.play .heroSongPlayerButton img {
              width: 100%;
              height: 100%;
              max-width: none !important;
              max-height: none !important; }
        .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
          height: 80px;
          width: 80px;
          margin: 0;
          background: #000;
          font-weight: 700;
          float: right;
          color: #fff !important;
          position: relative; }
          @media screen and (max-width: 800px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
              height: 70px;
              width: 70px; } }
          @media screen and (max-width: 650px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
              height: 56px;
              width: 56px; } }
          @media screen and (max-width: 480px) {
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
              height: 40px;
              width: 40px; } }
          .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
            padding: 0;
            color: #fff;
            font-weight: 400;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            @media screen and (max-width: 1000px) and (min-width: 800px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                padding: 14px; } }
            @media screen and (max-width: 800px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                padding: 0;
                height: 100%; } }
            @media screen and (max-width: 650px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                padding: 5px; } }
            @media screen and (max-width: 480px) {
              .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                padding: 0;
                height: 100%;
                width: 100%; } }
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
              font-size: 20px;
              font-weight: 400;
              line-height: 28px;
              margin: 0; }
              @media screen and (max-width: 1200px) and (min-width: 1000px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                  font-size: 18px; } }
              @media screen and (max-width: 1000px) and (min-width: 800px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                  font-size: 16px; } }
              @media screen and (max-width: 800px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                  font-size: 16px; } }
              @media screen and (max-width: 800px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                  font-size: 22px;
                  line-height: 20px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%); } }
              @media screen and (max-width: 480px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                  font-size: 15px;
                  line-height: 15px; } }
            .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
              font-size: 32px;
              font-weight: 700; }
              @media screen and (max-width: 1200px) and (min-width: 1000px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                  font-size: 28px; } }
              @media screen and (max-width: 1000px) and (min-width: 800px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                  font-size: 22px; } }
              @media screen and (max-width: 800px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                  font-size: 26px;
                  display: none; } }
              @media screen and (max-width: 650px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                  font-size: 24px;
                  line-height: 26px; } }
              @media screen and (max-width: 480px) {
                .hero-posts .featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                  font-size: 16px;
                  display: none; } }
      .hero-posts .featured-track-wrapper .feature-track .hover-content {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        z-index: 107;
        text-align: center;
        width: 100%; }
        @media screen and (max-width: 800px) {
          .hero-posts .featured-track-wrapper .feature-track .hover-content {
            display: none; } }
        .hero-posts .featured-track-wrapper .feature-track .hover-content .goToPage {
          z-index: 107;
          text-decoration: none;
          background: #1a6ea9;
          color: #fff;
          padding: 15px;
          border-radius: 0;
          max-width: 40%;
          margin: 10px auto;
          display: inline-block; }
          @media screen and (max-width: 800px) {
            .hero-posts .featured-track-wrapper .feature-track .hover-content .goToPage {
              display: none; } }
        .hero-posts .featured-track-wrapper .feature-track .hover-content .tagWrapper .hero-tag {
          color: #fff;
          margin: 0;
          padding: 0;
          border-radius: 6px;
          letter-spacing: .5px;
          font-size: 40px;
          font-family: Baloo,cursive;
          display: block;
          line-height: 40px; }
      .hero-posts .featured-track-wrapper .feature-track img.heroHoverGradient {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 101;
        opacity: 0; }
        @media screen and (max-width: 800px) {
          .hero-posts .featured-track-wrapper .feature-track img.heroHoverGradient {
            display: none; } }
    .hero-posts .featured-track-wrapper .feature-track:hover img.heroHoverGradient, .hero-posts .featured-track-wrapper .feature-track:hover .hover-content {
      opacity: 1; }
  .hero-posts .previous-week {
    max-height: 674px;
    width: 60%;
    height: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    white-space: normal; }
    @media screen and (max-width: 1200px) {
      .hero-posts .previous-week {
        width: 50%; } }
    @media screen and (max-width: 800px) {
      .hero-posts .previous-week {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%; } }
    .hero-posts .previous-week .less-featured-track-wrapper {
      max-height: 337px;
      max-width: 337px;
      width: 20vw;
      height: 20vw;
      display: inline-block;
      vertical-align: top; }
      @media screen and (max-width: 1200px) {
        .hero-posts .previous-week .less-featured-track-wrapper {
          width: 25vw;
          height: 25vw; } }
      @media screen and (max-width: 800px) {
        .hero-posts .previous-week .less-featured-track-wrapper {
          width: 33.333%;
          height: 33.333%; } }
      .hero-posts .previous-week .less-featured-track-wrapper .feature-track {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        max-height: 337px;
        max-width: 337px;
        margin: 0 auto;
        position: relative; }
        .hero-posts .previous-week .less-featured-track-wrapper .feature-track img {
          position: relative;
          height: 100%;
          width: 100%; }
        .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: auto;
          background: rgba(255, 255, 255, 0.8);
          z-index: 102; }
          @media (max-width: 800px) {
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info {
              height: 40px; } }
          @media (max-width: 480px) {
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info {
              height: auto;
              background: rgba(0, 0, 0, 0); } }
          .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper {
            display: inline-block;
            height: 100%;
            width: 12%;
            color: #fff;
            text-align: center;
            vertical-align: top; }
          .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.play {
            float: none !important;
            top: 50% !important;
            position: absolute;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            width: 40px;
            height: 40px;
            left: 0; }
            @media (max-width: 800px) {
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.play {
                display: none; } }
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.play .heroSongPlayerButton {
              width: 100%;
              height: 100%;
              padding: 4px; }
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.play .heroSongPlayerButton img {
                width: 100%;
                height: 100%; }
          .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .song-info {
            line-height: 20px;
            width: calc(100% - 100px);
            height: auto;
            margin-right: 0;
            margin-left: 40px;
            padding: 5px;
            margin-bottom: 0;
            display: inline-block;
            padding: 5px 0 4px;
            transform: translateX(-0.8px); }
            @media (max-width: 800px) {
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .song-info {
                width: calc(100% - 45px);
                margin-left: 5px; } }
            @media (max-width: 480px) {
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .song-info {
                display: none; } }
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .song-info .song-title {
              font-weight: 700;
              font-size: 14.5px;
              line-height: 15px;
              color: #000;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow-x: hidden;
              margin-bottom: 1px; }
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .song-info .song-artist {
              font-weight: 400;
              color: #000;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 14.5px;
              line-height: 15px;
              overflow-x: hidden; }
          .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
            height: 40px;
            width: 40px;
            background: #000;
            color: #fff;
            text-align: center;
            vertical-align: top;
            display: inline-block;
            transition: all 0s linear;
            float: right;
            background: #000;
            position: relative; }
            @media (max-width: 800px) {
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
                height: 40px;
                width: 40px; } }
            @media (max-width: 480px) {
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date {
                height: auto !important;
                width: auto !important;
                float: right; } }
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
              background: #000;
              color: #fff;
              font-weight: 400 !important; }
              @media screen and (min-width: 800px) {
                .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  margin: 0; } }
              @media screen and (max-width: 800px) {
                .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                  margin: 0;
                  height: 100%; } }
              @media screen and (max-width: 480px) {
                .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date {
                  padding: 10px 15px;
                  margin: 0; } }
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                font-size: 12px;
                line-height: 12px;
                font-weight: 400;
                margin: 0;
                margin-bottom: 3px; }
                @media (max-width: 800px) {
                  .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); } }
                @media screen and (max-width: 480px) {
                  .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .month {
                    font-size: 12px;
                    line-height: 12px; } }
              .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                font-size: 14px;
                line-height: 14px;
                font-weight: 400;
                margin: 0; }
                @media screen and (max-width: 800px) {
                  .hero-posts .previous-week .less-featured-track-wrapper .feature-track .post-info .post-square-wrapper.date .post-date .day {
                    display: none; } }
        .hero-posts .previous-week .less-featured-track-wrapper .feature-track img.heroHoverGradient {
          position: absolute !important;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 101;
          opacity: 0; }
        .hero-posts .previous-week .less-featured-track-wrapper .feature-track .hover-content {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          z-index: 107;
          text-align: center;
          width: 100%; }
          @media screen and (max-width: 800px) {
            .hero-posts .previous-week .less-featured-track-wrapper .feature-track .hover-content {
              display: none; } }
          .hero-posts .previous-week .less-featured-track-wrapper .feature-track .hover-content .tagWrapper .hero-tag {
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            margin: 0;
            padding: 0;
            border-radius: 6px;
            letter-spacing: .5px;
            font-family: Baloo,cursive;
            display: block; }
          .hero-posts .previous-week .less-featured-track-wrapper .feature-track .hover-content .goToPage {
            z-index: 107;
            text-decoration: none;
            background: #1a6ea9;
            color: #fff;
            max-width: 40%;
            margin: 10px auto;
            display: inline-block;
            font-size: 14px;
            border-radius: 6px;
            padding: 10px; }
      .hero-posts .previous-week .less-featured-track-wrapper .feature-track:hover img.heroHoverGradient, .hero-posts .previous-week .less-featured-track-wrapper .feature-track:hover .hover-content {
        opacity: 1; }
    @media screen and (max-width: 1200px) and (min-width: 800px) {
      .hero-posts .previous-week .less-featured-track-wrapper.index-4 {
        display: none; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-5 {
        display: none; } }
    @media (max-width: 800px) {
      .hero-posts .previous-week .less-featured-track-wrapper {
        position: absolute; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-0 {
        top: 0;
        right: 0; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-1 {
        top: 33.333%;
        right: 0; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-2 {
        top: 66.666%;
        right: 0; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-3 {
        top: 66.666%;
        left: 33.333%; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-4 {
        top: 66.666%;
        left: 0; }
      .hero-posts .previous-week .less-featured-track-wrapper.index-5 {
        display: none; } }
