.mobile-full-view {
  @media(min-width: 800px) {
    display: none;
  }
}
.desktop-full-view {
  @media(max-width: 800px) {
    display: none !important;
  }
}



.views-dropdown {
  margin-left: 12px;
  // width: 100px;
  background-color: #f5f3f3;
  // padding: 10px;

  @media(min-width: 800px) {
    border: 2px solid #282828;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.hidden { display: none }

  @media (max-width: 800px) {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 45px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  .view-select-item {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    @media(min-width: 800px) {
      cursor: pointer;
      position: relative;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 0px;
      // padding-bottom: 5px;
    }
    @media (max-width: 800px) {
      display: inline-block;
      width: 33%;
      height: 100%;
      margin: 0;
    }
    .view-select-item-content {
      @media (max-width: 800px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      svg {
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;

        @media (max-width: 800px) {
          margin: 0 auto;
          display: block;
          height: 16px;
        }
      }

      span {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }
    }

  }
  .view-select-item.active {
    // color: #1a6ea9;
    color: #fff;
    background: #282828;

    svg {
      // fill: #1a6ea9;
      fill: #fff;
    }
  }
  .view-select-item:last-of-type {
    @media(min-width: 800px) {
      // margin-bottom: 0;
      border-bottom: none;
      // padding-bottom: 0;
    }
  }
  .view-select-item:hover {
    @media(min-width: 800px) {
      background: #282828;
    }

    svg {
      @media(min-width: 800px) {
        fill: #fff;
      }
    }
    span {
      @media(min-width: 800px) {
        color: #fff;
      }
    }
  }
}
